<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-scale-ripple"
[fullScreen] = "true"
>
<p style="color: white" > Cargando </p>
</ngx-spinner>

<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <ul>
            <li class="mt-2">
              <a routerLink="/basica">
                <button mat-flat-button class="bg-coop text-white">
                  Ficha socioeconómica de la organización
                </button>
              </a>
            </li>
            <li class="mt-2">
              <button mat-flat-button disabled>
                Economica
              </button>
            </li>
            <li class="mt-2">
              <button mat-flat-button disabled>
                Educación
              </button>
            </li>
            <li class="mt-2">
              <button mat-flat-button disabled>
                Comunicación
              </button>
            </li>
            <li class="mt-2">
              <button mat-flat-button disabled>
                Cooperación
              </button>
            </li>
            <li class="mt-2">
              <button mat-flat-button disabled>
                Otras Cooperaciones
              </button>
            </li>
            <li class="mt-2">
              <button mat-flat-button disabled>
                Comunidad
              </button>
            </li>
            <li class="mt-2">
              <button mat-flat-button disabled>
                Otras Comunidad
              </button>
            </li>
            <li class="mt-2">
              <button mat-flat-button disabled>
                Otros
              </button>
            </li>
            <li class="mt-2">
              <button mat-flat-button disabled>
                Evaluación
              </button>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="inicial">
            <mat-card class="example-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h2>Ficha socioeconómica de la organización</h2>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 d-none">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombre de entidad" type="text" formControlName="nombreEntidad">
                    </mat-form-field>
                    <mat-error
                      *ngIf="inicial.get('nombreEntidad').hasError('required') && inicial.get('nombreEntidad').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 d-none">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="NIT" type="number" formControlName="nit">
                    </mat-form-field>
                    <mat-error *ngIf="inicial.get('nit').hasError('required') && inicial.get('nit').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6 d-none">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Número de asociados" type="number" formControlName="numeroAsociados">
                    </mat-form-field>
                    <mat-error
                      *ngIf="inicial.get('numeroAsociados').hasError('required') && inicial.get('numeroAsociados').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Año" type="number" formControlName="anho">
                    </mat-form-field>
                    <mat-error *ngIf="inicial.get('anho').hasError('required') && inicial.get('anho').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>
