<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
          <div class="col-sm-12 col-md-12 col-lg-4">
              <ul>
                  <li class="mt-2">
                    <a routerLink="/basica">
                      <button mat-flat-button class="bg-coop text-white">
                        Ficha socioeconómica de la organización
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/economica">
                      <button mat-flat-button class=" bg-coop text-white">
                        Economica
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/educacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Educación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunicado">
                      <button mat-flat-button class="bg-coop text-white">
                        Comunicación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/cooperacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Cooperación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otracooperacion">
                      <button mat-flat-button disabled>
                        Otras Cooperaciones
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunidad">
                      <button mat-flat-button disabled>
                        Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otrascomunidad">
                      <button mat-flat-button disabled>
                        Otras Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otros">
                      <button mat-flat-button disabled>
                        Otros
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/evaluaciones">
                      <button mat-flat-button disabled>
                        Evaluación
                      </button>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
            <app-fijo-info></app-fijo-info>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="cooperacion">
            <mat-card class="example-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Afiliación a organismos de segundo nivel de integración?</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="afiliado">Afiliado</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Organos a los cuales esta afiliado</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Organismo" type="text" formControlName="organismo">
                    </mat-form-field>
                    <mat-error
                      *ngIf="cooperacion.get('organismo').hasError('required') && cooperacion.get('organismo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Beneficios que recibe</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Beneficio" type="text" formControlName="beneficio">
                    </mat-form-field>
                    <mat-error
                      *ngIf="cooperacion.get('beneficio').hasError('required') && cooperacion.get('beneficio').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Monto de aporte de órganos" type="number" formControlName="monto">
                    </mat-form-field>
                    <mat-error
                      *ngIf="cooperacion.get('monto').hasError('required') && cooperacion.get('monto').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="organizacion">La organización asiste a
                        asambleas.</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Frecuencia con que asiste a asambleas</mat-label>
                      <mat-select formControlName="frecuencia">
                        <mat-option value="Mensual">Mensual</mat-option>
                        <mat-option value="Trimestral">Trimestral</mat-option>
                        <mat-option value="Semestral">Semestral</mat-option>
                        <mat-option value="Anual">Anual</mat-option>2
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="cooperacion.get('frecuencia').hasError('required') && cooperacion.get('frecuencia').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Cooperación con otras organizaciones solidarias</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="existe">Existe Cooperación</mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="adquirirBienes">Para adquirir bienes
                      </mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Qué bienes adquiere" type="text" formControlName="queBienes">
                    </mat-form-field>
                    <mat-error
                      *ngIf="cooperacion.get('queBienes').hasError('required') && cooperacion.get('queBienes').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="prestacionServicios">Para prestación de
                        servicios</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Qué servicios adquiere" type="text" formControlName="queServicios">
                    </mat-form-field>
                    <mat-error
                      *ngIf="cooperacion.get('queServicios').hasError('required') && cooperacion.get('queServicios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="otrosProductos">Para adquirir otros
                        productos o servicios</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Qué productos o servicios" type="text"
                        formControlName="queOtrosProductos">
                    </mat-form-field>
                    <mat-error
                      *ngIf="cooperacion.get('queOtrosProductos').hasError('required') && cooperacion.get('queOtrosProductos').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Alianza para generar econ. de escala" type="text"
                        formControlName="ecoEscala">
                    </mat-form-field>
                    <mat-error
                      *ngIf="cooperacion.get('ecoEscala').hasError('required') && cooperacion.get('ecoEscala').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>