<mat-toolbar class="bg-coop">
    <mat-toolbar-row>
      <span class="text-white">CoopeFUAC</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="container mt-5">
    <div class="row">
      <div class="container">
        <div class="row mt-2">
          <div class="col-sm-12 col-md-12 col-lg-4">
            <ul>
                <li class="mt-2">
                    <button mat-flat-button class="bg-coop text-white">
                      Registrar o actualizar Organizaciones
                    </button>
                </li>
                <!-- <li class="mt-2">
                    <button mat-flat-button disabled>Primary</button>
                </li>
                <li class="mt-2">
                    <button mat-flat-button disabled>Primary</button>
                </li>
                <li class="mt-2">
                    <button mat-flat-button disabled>Primary</button>
                </li>
                <li class="mt-2">
                    <button mat-flat-button disabled>Primary</button>
                </li> -->
            </ul>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-8">
            <mat-card class="example-card">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a routerLink="/orginicial">
                  <button mat-button class="bg-coop text-white">
                    Iniciar registro o actualización
                  </button>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>