<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <ul>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">
                  Datos del Asociado<app-card-info-asociado *ngIf="!searchData"></app-card-info-asociado>
                </button>
              </a>
            </li>
            <li class="mt-2" *ngIf="viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona natural</button>
              </a>
            </li>
            <li class="mt-2" *ngIf="!viewSpecial">
              <a>
                <button mat-flat-button disabled>Persona Jurídica</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Ubicación</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Beneficiarios</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Persona Contacto</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Datos del Asociado</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Financiero</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Educación</button>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <h3>Ficha socioeconómica del asociado</h3>    
          <app-card-info-asociado></app-card-info-asociado>
          <mat-card class="mt-1" *ngIf="viewEdit">
            <mat-card-content *ngFor="let info of informacion; let i = index">
              <div class="row" *ngIf="!viewEdit">
                <div class="col-sm-1 offset-sm-11">
                  <a (click)="editForm()">
                    <mat-icon class="text-primary cursor">border_color</mat-icon>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <p><b>Nombre completo: </b> <span>
                    {{  info?.PrimerNombre }} {{  info?.SegundoNombre }} 
                    {{  info?.PrimerApellido }} {{  info?.SegundoApellido }}
                  </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Fecha de nacimiento: </b> <span>{{  info?.FechaNacimiento | date }}</span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Personas acargo: </b> <span>{{  info?.PersonasAcargo }}</span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Etnia: </b> 
                    <span *ngIf="info?.Etnia_idEtnia === 1">Afrocolombiano</span>
                    <span *ngIf="info?.Etnia_idEtnia === 2">Indígena ROM</span>
                    <span *ngIf="info?.Etnia_idEtnia === 3">Raizal</span>
                    <span *ngIf="info?.Etnia_idEtnia === 4">Reincorporado a vida civil</span>
                    <span *ngIf="info?.Etnia_idEtnia === 5">Ninguno</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Estado civil: </b>
                    <span *ngIf="info?.EstadoCivil_idEstadoCivil === 1">Soltero</span>
                    <span *ngIf="info?.EstadoCivil_idEstadoCivil === 2">Casado</span>
                    <span *ngIf="info?.EstadoCivil_idEstadoCivil === 3">Divorciado</span>
                    <span *ngIf="info?.EstadoCivil_idEstadoCivil === 4">Unión libre</span>
                    <span *ngIf="info?.EstadoCivil_idEstadoCivil === 5">Viudo</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Genero: </b>
                    <span *ngIf="info?.EstadoCivil_idEstadoCivil === 1">Masculino</span>
                    <span *ngIf="info?.EstadoCivil_idEstadoCivil === 2">Femenino</span>
                    <span *ngIf="info?.EstadoCivil_idEstadoCivil === 3">Otro</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Seguridad social: </b>
                    <span *ngIf="info?.SeguridadSocial_idSeguridadSocial === 1">Cotizante</span>
                    <span *ngIf="info?.SeguridadSocial_idSeguridadSocial === 2">Beneficiario</span>
                    <span *ngIf="info?.SeguridadSocial_idSeguridadSocial === 3">SISBEN</span>
                    <span *ngIf="info?.SeguridadSocial_idSeguridadSocial === 4">Sin afiliación al sistema</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Nivel Educativo: </b>
                    <span *ngIf="info?.NivelEducativo_idNivelEducativo === 1">Primaria</span>
                    <span *ngIf="info?.NivelEducativo_idNivelEducativo === 2">Secundaria</span>
                    <span *ngIf="info?.NivelEducativo_idNivelEducativo === 3">Técnico</span>
                    <span *ngIf="info?.NivelEducativo_idNivelEducativo === 4">Tecnólogo</span>
                    <span *ngIf="info?.NivelEducativo_idNivelEducativo === 5">Universitario</span>
                    <span *ngIf="info?.NivelEducativo_idNivelEducativo === 6">Postgrado</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Estrato: </b>
                    <span *ngIf="info?.Estrato_idEstrato === 1">Estrato 1</span>
                    <span *ngIf="info?.Estrato_idEstrato === 2">Estrato 2</span>
                    <span *ngIf="info?.Estrato_idEstrato === 3">Estrato 3</span>
                    <span *ngIf="info?.Estrato_idEstrato === 4">Estrato 4</span>
                    <span *ngIf="info?.Estrato_idEstrato === 5">Estrato 5</span>
                    <span *ngIf="info?.Estrato_idEstrato === 6">Estrato 6</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Lider familiar: </b>
                    <span *ngIf="info?.LiderFamiliar_idLiderFamiliar === 1">Padre cabeza de familia</span>
                    <span *ngIf="info?.LiderFamiliar_idLiderFamiliar === 2">Madre cabeza de familia</span>
                    <span *ngIf="info?.LiderFamiliar_idLiderFamiliar === 3">No aplica</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Tipo de actividad: </b>
                    <span *ngIf="info?.Actividad_idActividad === 1">Empleado</span>
                    <span *ngIf="info?.Actividad_idActividad === 2">Independiente</span>
                    <span *ngIf="info?.Actividad_idActividad === 3">Desempleado</span>
                    <span *ngIf="info?.Actividad_idActividad === 4">Pensionado</span>
                    <span *ngIf="info?.Actividad_idActividad === 5">Sector primario</span>
                    <span *ngIf="info?.Actividad_idActividad === 6">Sector Secundario</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Tipo vivienda: </b>
                    <span *ngIf="info?.TipoVivienda_idTipoVivienda === 1">Propia</span>
                    <span *ngIf="info?.TipoVivienda_idTipoVivienda === 2">Arrendada</span>
                    <span *ngIf="info?.TipoVivienda_idTipoVivienda === 3">Familiar</span>
                    <span *ngIf="info?.TipoVivienda_idTipoVivienda === 4">Otra</span>
                  </p>
                </div>
              </div>
            </mat-card-content>
            <mat-card-content *ngIf="!viewEdit">
              <div class="row">
                <div class="col-sm-2 offset-sm-10">
                  <a routerLink="/ubicacion">
                    <button mat-raised-button class="bg-coop text-white">
                      Continuar
                    </button>
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="natural" *ngIf="!viewEdit">
            <mat-card class="example-card mt-2" >
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="closeEdit()">
                      <mat-icon class="text-danger cursor">close</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <h5>Datos básicos.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primer Nombre" type="text" formControlName="primerNombre"
                        [value]="primerNombres">
                    </mat-form-field>
                    <mat-error
                      *ngIf="natural.get('primerNombre').hasError('required') && natural.get('primerNombre').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Segundo Nombre" type="text" formControlName="segundoNombre"
                        [value]="segundoNombre">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primer apellido" type="text" formControlName="primerApellido"
                        [value]="primerApellido">
                    </mat-form-field>
                    <mat-error
                      *ngIf="natural.get('primerApellido').hasError('required') && natural.get('primerApellido').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Segundo apellido" type="text" formControlName="segundoApellido"
                        [value]="segundoApellido">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento"
                        formControlName="fechaNacimiento">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="natural.get('fechaNacimiento').hasError('required') && natural.get('fechaNacimiento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su genero</mat-label>
                      <mat-select formControlName="genero">
                        <mat-option value="1">Masculino</mat-option>
                        <mat-option value="2">Femenino</mat-option>
                        <mat-option value="3">Otro</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="natural.get('genero').hasError('required') && natural.get('genero').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su etnia</mat-label>
                      <mat-select formControlName="etnia">
                        <mat-option value="1">Afrocolombianos</mat-option>
                        <mat-option value="2">Indigenas</mat-option>
                        <mat-option value="3">Raizales</mat-option>
                        <mat-option value="3">Población ROM</mat-option>
                        <mat-option value="4">Reincorporados a la vida civil</mat-option>
                        <mat-option value="5">Ninguno</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="natural.get('etnia').hasError('required') && natural.get('etnia').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su nivel educativo</mat-label>
                      <mat-select formControlName="nivelEducativo">
                        <mat-option value="1">Primaria</mat-option>
                        <mat-option value="2">Secundaria</mat-option>
                        <mat-option value="3">Técnico - Tecnólogo </mat-option>
                        <!-- <mat-option value="4"></mat-option> -->
                        <mat-option value="5">Universitario</mat-option>
                        <mat-option value="6">Postgrado</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="natural.get('nivelEducativo').hasError('required') && natural.get('nivelEducativo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su estado civil</mat-label>
                      <mat-select formControlName="estadoCivil">
                        <mat-option value="1">Soltero</mat-option>
                        <mat-option value="2">Casado</mat-option>
                        <mat-option value="3">Divorciado</mat-option>
                        <mat-option value="4">Unión libre</mat-option>
                        <mat-option value="5">Viudo</mat-option>
                        <mat-option value="6">Otro</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="natural.get('estadoCivil').hasError('required') && natural.get('estadoCivil').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su estrato socioeconomico</mat-label>
                      <mat-select formControlName="estrato">
                        <mat-option value="1">Estrato 1</mat-option>
                        <mat-option value="2">Estrato 2</mat-option>
                        <mat-option value="3">Estrato 3</mat-option>
                        <mat-option value="4">Estrato 4</mat-option>
                        <mat-option value="5">Estrato 5</mat-option>
                        <mat-option value="6">Estrato 6</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="natural.get('estrato').hasError('required') && natural.get('estrato').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de seguridad social</mat-label>
                      <mat-select formControlName="seguridadSocial">
                        <mat-option value="1">Cotizante</mat-option>
                        <mat-option value="2">Beneficiario</mat-option>
                        <mat-option value="3">SISBEN</mat-option>
                        <mat-option value="4">Sin afiliación al sistema</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="natural.get('seguridadSocial').hasError('required') && natural.get('seguridadSocial').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de vivienda</mat-label>
                      <mat-select formControlName="tipoVivienda">
                        <mat-option value="1">Propia</mat-option>
                        <mat-option value="2">Arrendada</mat-option>
                        <mat-option value="3">Familiar</mat-option>
                        <mat-option value="4">Otra</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="natural.get('tipoVivienda').hasError('required') && natural.get('tipoVivienda').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <h5>Liderazgo familiar.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Cabeza de familia</mat-label>
                      <mat-select formControlName="cabezaFamilia">
                        <mat-option value="1">Padre cabeza de familia</mat-option>
                        <mat-option value="2">Madre cabeza de familia</mat-option>
                        <mat-option value="3">No aplica</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="natural.get('cabezaFamilia').hasError('required') && natural.get('cabezaFamilia').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>


                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Personas a cargo" type="number" formControlName="personasAcargo">
                    </mat-form-field>
                    <mat-error
                      *ngIf="natural.get('personasAcargo').hasError('required') && natural.get('personasAcargo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su actividad</mat-label>
                      <mat-select formControlName="actividadAsociado">
                        <mat-option value="1">Empleado</mat-option>
                        <mat-option value="2">Independiente</mat-option>
                        <mat-option value="3">Desempleado</mat-option>
                        <mat-option value="4">Pensionado</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="natural.get('actividadAsociado').hasError('required') && natural.get('actividadAsociado').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
    
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>