<div class="bg-coop">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1 mt-5">
          <h1 class="text-white">coopefuac</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3 mt-5">
        <mat-card class="example-card">
          <mat-card-content>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <mat-card-title>Cambio de contraseña</mat-card-title>
                <form class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="recoveryPassword">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Contraseña" [type]="typeInput" formControlName="password">
                        <mat-icon matSuffix class="cursor" (click)="viewPassword()">{{ iconPassword }}</mat-icon>
                      </mat-form-field>
                      <mat-error *ngIf="recoveryPassword.get('password').hasError('required') && recoveryPassword.get('password').touched">
                        Este campo es <strong>requerido</strong>
                      </mat-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Repita su contraseña" [type]="typeInputRe" formControlName="rePassword">
                        <mat-icon matSuffix class="cursor" (click)="viewRePassword()">{{ iconRePassword }}</mat-icon>
                      </mat-form-field>
                      <mat-error *ngIf="recoveryPassword.get('rePassword').hasError('required') && recoveryPassword.get('rePassword').touched">
                        Este campo es <strong>requerido</strong>
                      </mat-error>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-5">
                      <button mat-raised-button color="primary" type="submit">Recuperar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      </div>
    </div>
  </div>
  