<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-scale-ripple"
[fullScreen] = "true"
>
<p style="color: white" > Cargando </p>
</ngx-spinner>

<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <ul>
            <li class="mt-2">
              <a routerLink="/basica">
                <button mat-flat-button class="bg-coop text-white">
                  Datos del asociado
                </button>
              </a>
            </li>
            <!-- <li class="mt-2">
              <a routerLink="/natural">
                <button mat-flat-button disabled>Persona natural</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/juridica">
                <button mat-flat-button disabled>Persona Jurídica</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/ubicación">
                <button mat-flat-button disabled>Ubicación</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/beneficiarios">
                <button mat-flat-button disabled>Persona Beneficiarios</button>
              </a>
            </li>
            <li class="mt-2">
                <a routerLink="/contacto">
                  <button mat-flat-button disabled>Persona Contacto</button>
                </a>
              </li>
            <li class="mt-2">
              <a routerLink="/asociado">
                <button mat-flat-button disabled>Asociados</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/financiero">
                <button mat-flat-button disabled>Financiero</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/educacion">
                <button mat-flat-button disabled>Datos Educación</button>
              </a>
            </li> -->
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="row">
            <div class="col-sm-12">
              <h3>Ficha socioeconómica del asociado</h3>
            </div>
          </div>          
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="informacionbasica">
            <mat-card class="example-card">
              <mat-card-content>
                  <div class="row">
                    <div class="col-sm-12">
                      <h2>Datos del Asociado.</h2>
                    </div>
                    <div class="col-sm-12">
                      <p>
                        Los datos que ingresara acontinuación seran manejados y 
                        manipulados por la cooperativa para uso de estadisticas y control 
                        de los asociados naturales que cuentan con una cuenta activa en la 
                        empresa.
                      </p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 d-none" *ngIf="verCampo" >
                      <mat-form-field class="example-full-width">
                        <mat-label>Seleccione su tipo de documento</mat-label>
                        <mat-select formControlName="tipoDocumento">
                          <mat-option value="1">Cedula de Ciudadania</mat-option>
                          <mat-option value="2">Cedula de extranjeria</mat-option>
                          <mat-option value="3">Tarjeta de identidad</mat-option>
                          <mat-option value="4">Registro civil</mat-option>
                          <mat-option value="5">NIT</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-error
                        *ngIf="informacionbasica.get('tipoDocumento').hasError('required') && informacionbasica.get('tipoDocumento').touched">
                        Este campo es <strong>requerido</strong>
                      </mat-error>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="verCampo">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Numero de documento" type="number" formControlName="documento" disabled>
                      </mat-form-field>
                      <mat-error
                        *ngIf="informacionbasica.get('documento').hasError('required') && informacionbasica.get('documento').touched">
                        Este campo es <strong>requerido</strong>
                      </mat-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="verCampo">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre / Razón Social" type="text" formControlName="nombreRazon" disabled>
                      </mat-form-field>
                      <mat-error
                        *ngIf="informacionbasica.get('nombreRazon').hasError('required') && informacionbasica.get('nombreRazon').touched">
                        Este campo es <strong>requerido</strong>
                      </mat-error>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="verCampo">
                      <mat-form-field class="example-full-width">
                        <mat-label>Seleccione su tipo de persona</mat-label>
                        <mat-select formControlName="tipoPersona">
                          <mat-option value="1">Persona natural</mat-option>
                          <mat-option value="2">Persona juridica</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-error
                        *ngIf="informacionbasica.get('tipoPersona').hasError('required') && informacionbasica.get('tipoPersona').touched">
                        Este campo es <strong>requerido</strong>
                      </mat-error>
                    </div>
                  </div>
                
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Aceptar y continuar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>