<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">CoopeFUAC</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4" *ngIf="userInfo?.Roles_idRoles === 2" >
          <mat-card class="example-card">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/orginicial">
                  <button mat-button class="text-coop">Registrar o actualizar Organizaciones</button>
                </a>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4" *ngIf="userInfo?.Roles_idRoles === 1" >
          <mat-card class="example-card">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/basica">
                <button mat-button class="text-coop">Registrar o actualizar Asociados.</button>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4" *ngIf="userInfo?.Roles_idRoles === 2">
          <mat-card class="example-card">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/informes">
                <button mat-button class="text-coop">Generar informes.</button>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy;</small>
  </div>
</footer>