<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
          <div class="col-sm-12 col-md-12 col-lg-4">
              <ul>
                  <li class="mt-2">
                    <a routerLink="/basica">
                      <button mat-flat-button class="bg-coop text-white">
                        Ficha socioeconómica de la organización
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/economica">
                      <button mat-flat-button class=" bg-coop text-white">
                        Economica
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/educacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Educación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunicado">
                      <button mat-flat-button disabled>
                        Comunicación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/cooperacion">
                      <button mat-flat-button disabled>
                        Cooperación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otracooperacion">
                      <button mat-flat-button disabled>
                        Otras Cooperaciones
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunidad">
                      <button mat-flat-button disabled>
                        Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otrascomunidad">
                      <button mat-flat-button disabled>
                        Otras Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otros">
                      <button mat-flat-button disabled>
                        Otros
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/evaluaciones">
                      <button mat-flat-button disabled>
                        Evaluación
                      </button>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
            <app-fijo-info></app-fijo-info>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="educacion">
            <mat-card class="example-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Apropiaciones - inversiones</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Educación y formación" type="text" formControlName="educacion">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('educacion').hasError('required') && educacion.get('educacion').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Educación básica solidaria" type="text"
                        formControlName="formacionBasica">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('formacionBasica').hasError('required') && educacion.get('formacionBasica').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Educación formal" type="text" formControlName="educacionFormal">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('educacionFormal').hasError('required') && educacion.get('educacionFormal').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Educ. Formal y no formal" type="text" formControlName="eduForNo">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('eduForNo').hasError('required') && educacion.get('eduForNo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Invertido Educ. Dinatarios" type="text"
                        formControlName="invertidoEducDinatarios">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('invertidoEducDinatarios').hasError('invertidoEducDinatarios') && educacion.get('educacion').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Invertido Educ. Empleados." type="text"
                        formControlName="invertidoEducEmpleados">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('invertidoEducEmpleados').hasError('required') && educacion.get('invertidoEducEmpleados').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Invertido Comun. externa" type="text"
                        formControlName="invertidoComun">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('invertidoComun').hasError('required') && educacion.get('invertidoComun').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Invertido Progs. Empren." type="text"
                        formControlName="invertidoProgs">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('invertidoProgs').hasError('required') && educacion.get('invertidoProgs').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Formación Empleados</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Num. Empl." type="number" formControlName="numEmpleados">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('numEmpleados').hasError('required') && educacion.get('numEmpleados').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Hombres" type="number" formControlName="hombres">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('hombres').hasError('required') && educacion.get('hombres').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Mujeres" type="number" formControlName="mujeres">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('mujeres').hasError('required') && educacion.get('mujeres').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Formación comunidad Externa</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Beneficiarios" type="number" formControlName="beneficiarios">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('beneficiarios').hasError('required') && educacion.get('beneficiarios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Hombres" type="number" formControlName="hombresBeneficiarios">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('hombresBeneficiarios').hasError('required') && educacion.get('hombresBeneficiarios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Mujeres" type="number" formControlName="mujeresBeneficiarios">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('mujeresBeneficiarios').hasError('required') && educacion.get('mujeresBeneficiarios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Menores de 18" type="number" formControlName="menoresde">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('menoresde').hasError('required') && educacion.get('menoresde').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Entidades a traves de las que se canalizó educación formal</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Entidad" type="text" formControlName="entidad">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('entidad').hasError('required') && educacion.get('entidad').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Actividades programas de emprendimiento</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Comunidad" type="text" formControlName="comunidad">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('comunidad').hasError('required') && educacion.get('comunidad').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Comun. externas beneficiadas progs educación</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Actividad" type="text" formControlName="actividad">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('actividad').hasError('required') && educacion.get('actividad').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>