<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
          <div class="col-sm-12 col-md-12 col-lg-4">
              <ul>
                  <li class="mt-2">
                    <a routerLink="/basica">
                      <button mat-flat-button class="bg-coop text-white">
                        Ficha socioeconómica de la organización
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/economica">
                      <button mat-flat-button class=" bg-coop text-white">
                        Economica
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/educacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Educación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunicado">
                      <button mat-flat-button class="bg-coop text-white">
                        Comunicación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/cooperacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Cooperación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otracooperacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Otras Cooperaciones
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunidad">
                      <button mat-flat-button class="bg-coop text-white">
                        Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otrascomunidad">
                      <button mat-flat-button class="bg-coop text-white">
                        Otras Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otros">
                      <button mat-flat-button class="bg-coop text-white">
                        Otros
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/evaluaciones">
                      <button mat-flat-button class="bg-coop text-white">
                        Evaluación
                      </button>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
            <app-fijo-info></app-fijo-info>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="evaluacion">
            <mat-card class="example-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Evaluación - Balance</h6>
                  </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <section class="example-section">
                          <mat-checkbox class="example-margin" formControlName="evaluacion">
                            Realiza evaluación y seguimiento de las acciones realizadas en beneficio de la comunidad
                          </mat-checkbox>
                        </section>
                      </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput formControlName="balance" placeholder="Balance de la organización de desarrollar programas en beneficio de la comunidad"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>