<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
          <div class="col-sm-12 col-md-12 col-lg-4">
              <ul>
                  <li class="mt-2">
                    <a routerLink="/basica">
                      <button mat-flat-button class="bg-coop text-white">
                        Ficha socioeconómica de la organización
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/economica">
                      <button mat-flat-button class=" bg-coop text-white">
                        Economica
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/educacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Educación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunicado">
                      <button mat-flat-button class="bg-coop text-white">
                        Comunicación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/cooperacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Cooperación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otracooperacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Otras Cooperaciones
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunidad">
                      <button mat-flat-button class="bg-coop text-white">
                        Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otrascomunidad">
                      <button mat-flat-button class="bg-coop text-white">
                        Otras Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otros">
                      <button mat-flat-button class="bg-coop text-white">
                        Otros
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/evaluaciones">
                      <button mat-flat-button disabled>
                        Evaluación
                      </button>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
            <app-fijo-info></app-fijo-info>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="otros">
            <mat-card class="example-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Compromiso con el desarrollo comunitario</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="desarrollado">
                        Ha desarrollado relaciones acuerdos/convenios/alianzas con otras instituciones privadas publicas
                        o internacionales
                      </mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Principales relaciones instituciones públicas</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Alianza" type="text" formControlName="alianza">
                    </mat-form-field>
                    <mat-error *ngIf="otros.get('alianza').hasError('required') && otros.get('alianza').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Acuerdos" type="text" formControlName="acuerdos">
                    </mat-form-field>
                    <mat-error *ngIf="otros.get('acuerdos').hasError('required') && otros.get('acuerdos').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Convenios" type="text" formControlName="convenios">
                    </mat-form-field>
                    <mat-error *ngIf="otros.get('convenios').hasError('required') && otros.get('convenios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Principales relaciones instituciones privadas</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Alianza" type="text" formControlName="alianzaPrivadas">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otros.get('alianzaPrivadas').hasError('required') && otros.get('alianzaPrivadas').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Acuerdos" type="text" formControlName="acuerdosPrivadas">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otros.get('acuerdosPrivadas').hasError('required') && otros.get('acuerdosPrivadas').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Convenios" type="text" formControlName="conveniosPrivadas">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otros.get('conveniosPrivadas').hasError('required') && otros.get('conveniosPrivadas').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Principales relaciones instituciones internacionales</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Alianza" type="text" formControlName="alianzaInternacionales">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otros.get('alianzaInternacionales').hasError('required') && otros.get('alianzaInternacionales').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Acuerdos" type="text" formControlName="acuerdosInternacionales">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otros.get('acuerdosInternacionales').hasError('required') && otros.get('acuerdosInternacionales').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Convenios" type="text" formControlName="conveniosInternacionales">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otros.get('conveniosInternacionales').hasError('required') && otros.get('conveniosInternacionales').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Compromiso con el desarrollo comunitario </h5>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Objetivos para desarrollar alianzas, acuerdos o convenios con</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Inst. Públicas" type="text" formControlName="publicas">
                    </mat-form-field>
                    <mat-error *ngIf="otros.get('publicas').hasError('required') && otros.get('publicas').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Inst. privadas" type="text" formControlName="privadas">
                    </mat-form-field>
                    <mat-error *ngIf="otros.get('privadas').hasError('required') && otros.get('privadas').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Inst. Internal" type="text" formControlName="internal">
                    </mat-form-field>
                    <mat-error *ngIf="otros.get('internal').hasError('required') && otros.get('internal').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>En alianzas/acuerdos/convenios con inst. públicas, privadas o Int</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Monto invertido" type="number" formControlName="monton">
                    </mat-form-field>
                    <mat-error *ngIf="otros.get('monton').hasError('required') && otros.get('monton').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="No. Beneficiarios" type="number" formControlName="beneficiarios">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otros.get('beneficiarios').hasError('required') && otros.get('beneficiarios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Impactos que tiene la organización por desarrollar occiones con</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Inst. Públicas" type="text" formControlName="publicasDesarrollar">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otros.get('publicasDesarrollar').hasError('required') && otros.get('publicasDesarrollar').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Inst. privadas" type="text" formControlName="privadasDesarrollar">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otros.get('privadasDesarrollar').hasError('required') && otros.get('privadasDesarrollar').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Inst. Internal" type="text" formControlName="internalDesarrollar">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otros.get('internalDesarrollar').hasError('required') && otros.get('internalDesarrollar').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>