<div class="bg-coop">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1 mt-5">
          <h1 class="text-white">coopefuac</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3 mt-5">
        <mat-card class="example-card">
          <mat-card-content>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <mat-card-title>Recuperar contraseña</mat-card-title>
                <form class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="recuperar">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width">
                        <mat-label>Seleccione su tipo de documento</mat-label>
                        <mat-select formControlName="Tipo_Documento_idTipo_Documento">
                          <mat-option>None</mat-option>
                          <mat-option value="1">Cedula de Ciudadania</mat-option>
                          <mat-option value="2">Cedula de extranjeria</mat-option>
                          <mat-option value="3">Pasaporte</mat-option>
                          <mat-option value="4">Tarjeta de identidad</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-error *ngIf="recuperar.get('Tipo_Documento_idTipo_Documento').hasError('required') && recuperar.get('Tipo_Documento_idTipo_Documento').touched">
                        Este campo es <strong>requerido</strong>
                      </mat-error>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Numero de documento" type="number" formControlName="idUsers">
                      </mat-form-field>
                      <mat-error *ngIf="recuperar.get('idUsers').hasError('required') && recuperar.get('idUsers').touched">
                        Este campo es <strong>requerido</strong>
                      </mat-error>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Correo electronico" type="email" formControlName="Email">
                      </mat-form-field>
                      <mat-error *ngIf="recuperar.get('Email').hasError('required') && recuperar.get('Email').touched">
                        Este campo es <strong>requerido</strong>
                      </mat-error>
                    </div>
                  </div> -->
                  <div class="row mt-2">
                    <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-5">
                      <button mat-raised-button color="primary" type="submit">Recuperar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      </div>
    </div>
  </div>
  