.vl {
    border-left: 1px solid grey;
    height: 100%;
  }
  .bg-coop{
    background-image: url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    
  }