<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <ul>
            <li class="mt-2">
              <a routerLink="/basica">
                <button mat-flat-button class="bg-coop text-white">
                  Ficha socieconómica del asociado
                </button>
              </a>
            </li>
            <li class="mt-2" *ngIf="viewSpecial">
              <a routerLink="/natural">
                <button mat-flat-button class="bg-coop text-white">Persona natural</button>
              </a>
            </li>
            <li class="mt-2" *ngIf="!viewSpecial">
              <a routerLink="/juridica">
                <button mat-flat-button class="bg-coop text-white">Persona Jurídica</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/ubicación">
                <button mat-flat-button class="bg-coop text-white">Ubicación</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/beneficiarios">
                <button mat-flat-button class="bg-coop text-white">Persona Beneficiarios</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/contacto">
                <button mat-flat-button class="bg-coop text-white">Persona Contacto</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/asociado">
                <button mat-flat-button class="bg-coop text-white">Asociados</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/financiero">
                <button mat-flat-button class="bg-coop text-white">Financiero</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/educacion">
                <button mat-flat-button disabled>Educación</button>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <app-card-info-asociado *ngIf="!searchData"></app-card-info-asociado>
          <div *ngIf="searchData">
            <mat-card class="mt-1" *ngFor="let info of informacion; let i = index">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="editForm()">
                      <mat-icon class="text-primary cursor">border_color</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-6">
                    <h5 *ngIf="info?.TipoFinanciero_idTipoFinanciero === 1">Servicio de crédito</h5>
                    <h5 *ngIf="info?.TipoFinanciero_idTipoFinanciero === 2">Servicio de ahorro</h5>
                    <h5 *ngIf="info?.TipoFinanciero_idTipoFinanciero === 3">apoyos</h5>
                    <h5 *ngIf="info?.TipoFinanciero_idTipoFinanciero === 4">convenios</h5>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p><b>Tipo de utilización: </b>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 1">
                        Vivienda sin garantía Hipotecaria
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 2">
                        Educación
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 3">
                        Salud
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 4">
                        Vehiculos
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 5">
                        Agropecuarios
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 6">
                        Recreación y turismo
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 7">
                        Emprendimiento
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 8">
                        Libre inversión
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 9">
                        Otros créditos de consumo
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 10">
                        Microcrédito
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 11">
                        Ahorro a la vista
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 12">
                        Ahorro CDAT
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 13">
                        Ahorro contractual
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 14">
                        Otro ahorro
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 15">
                        En salud en el año
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 16">
                        En maternidad en el año
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 17">
                        Por fallecimiento en el año
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 18">
                        En educación en el año
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 19">
                        Por nacimiento en el año
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 20">
                        Para recreación en el año
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 21">
                        Otros tipos de apoyo
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 22">
                        Seguros en el año
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 23">
                        De medicina prepagada en el año
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 24">
                        De educación en el año
                      </span>
                      <span *ngIf="info?.TipoFinancieroCreditos_idTipoFinancieroCreditos === 25">
                        De recreación y turismo en el año
                      </span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p><b>Fecha de desembolso: </b>
                      <span>{{  info?.FechaDesembolso | date }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p><b>Tasa: </b>
                      <span>{{  info?.Tasa }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p><b>Valor: </b>
                      <span>{{  info?.ValorDesembolso | currency }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Cual: </b>
                      <span>{{  info?.Cual }}</span>
                    </p>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-content *ngIf="!viewEdit">
                <div class="row">
                  <div class="col-sm-2 offset-sm-10">
                    <a routerLink="/educacion">
                      <button mat-raised-button class="bg-coop text-white">
                        Continuar
                      </button>
                    </a>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <app-card-info-asociado *ngIf="viewEdit"></app-card-info-asociado>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="financiera" *ngIf="viewEdit">
            <mat-card class="example-card mt-1">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="closeEdit()">
                      <mat-icon class="text-danger cursor">close</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="col-sm-12 mt-2">
                  <h5>Datos financieros.</h5>
                </div>
                <div class="row">
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2">
                    <h6>Servicio de crédito.</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Utilización</mat-label>
                      <mat-select formControlName="utilizacionCredito">
                        <mat-option value="1">Vivienda sin garantía hipotecaria</mat-option>
                        <mat-option value="2">Educación</mat-option>
                        <mat-option value="3">Salud</mat-option>
                        <mat-option value="4">Vehiculo</mat-option>
                        <mat-option value="5">Agropecuarios</mat-option>
                        <mat-option value="6">Recreación y turismo</mat-option>
                        <mat-option value="7">Emprendimiento</mat-option>
                        <mat-option value="8">Libre inversión</mat-option>
                        <mat-option value="9">Otros créditos de consumo</mat-option>
                        <mat-option value="10">Microcrédito</mat-option>
                      </mat-select>
                      <!-- <input matInput placeholder="Utilización" type="text" formControlName="utilizacionCredito"> -->
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('utilizacionCredito').hasError('required') && financiera.get('utilizacionCredito').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Cual?" type="text" formControlName="cualCredito">
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('cualCredito').hasError('required') && financiera.get('cualCredito').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Valor Desembolso" type="number"
                        formControlName="valorDesembolsoCredito">
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('valorDesembolsoCredito').hasError('required') && financiera.get('valorDesembolsoCredito').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Tasa" type="number" formControlName="tasaCredito">
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('tasaCredito').hasError('required') && financiera.get('tasaCredito').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="picker" placeholder="Fecha desembolso"
                        formControlName="fechaDesembolsoCredito">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('fechaDesembolsoCredito').hasError('required') && financiera.get('fechaDesembolsoCredito').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2">
                    <h6>Servicio de ahorro.</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Utilización</mat-label>
                      <mat-select formControlName="utilizacionahorro">
                        <mat-option value="11">Ahorro a la vista</mat-option>
                        <mat-option value="12">Ahorro CDAT</mat-option>
                        <mat-option value="13">Ahorro contractual</mat-option>
                        <mat-option value="14">Otro ahorro</mat-option>
                      </mat-select>
                      <!-- <input matInput placeholder="Tipo" type="text" formControlName="utilizacionahorro"> -->
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('utilizacionahorro').hasError('required') && financiera.get('utilizacionahorro').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Cual?" type="text" formControlName="cualahorro">
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('cualahorro').hasError('required') && financiera.get('cualahorro').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Valor Desembolso" type="number"
                        formControlName="valorDesembolsoahorro">
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('valorDesembolsoahorro').hasError('required') && financiera.get('valorDesembolsoahorro').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Tasa" type="number" formControlName="tasaahorro">
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('tasaahorro').hasError('required') && financiera.get('tasaahorro').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickers" placeholder="Fecha desembolso"
                        formControlName="fechaDesembolsoahorro">
                      <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                      <mat-datepicker #pickers></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('fechaDesembolsoahorro').hasError('required') && financiera.get('fechaDesembolsoahorro').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2">
                    <h6>Apoyos.</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Utilización</mat-label>
                      <mat-select formControlName="utilizacionApoyos">
                        <mat-option value="15">En salud en el año</mat-option>
                        <mat-option value="16">En maternidad en el año</mat-option>
                        <mat-option value="17">Por fallecimiento en el año</mat-option>
                        <mat-option value="18">En educación en el año</mat-option>
                        <mat-option value="19">Por nacimiento en el año</mat-option>
                        <mat-option value="20">Para recreación en el año</mat-option>
                        <mat-option value="21">Otros tipos de apoyo</mat-option>
                      </mat-select>
                      <!-- <input matInput placeholder="Tipo" type="text" formControlName="utilizacionApoyos"> -->
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('utilizacionApoyos').hasError('required') && financiera.get('utilizacionApoyos').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Cual?" type="text" formControlName="cualApoyos">
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('cualApoyos').hasError('required') && financiera.get('cualApoyos').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Valor Desembolso" type="number"
                        formControlName="valorDesembolsoApoyos">
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('valorDesembolsoApoyos').hasError('required') && financiera.get('valorDesembolsoApoyos').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersApoyo" placeholder="Fecha desembolso"
                        formControlName="fechaDesembolsoApoyos">
                      <mat-datepicker-toggle matSuffix [for]="pickersApoyo"></mat-datepicker-toggle>
                      <mat-datepicker #pickersApoyo></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('fechaDesembolsoApoyos').hasError('required') && financiera.get('fechaDesembolsoApoyos').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2">
                    <h6>Convenios.</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Utilización</mat-label>
                      <mat-select formControlName="utilizacionConvenios">
                        <mat-option value="22">Seguros en el año</mat-option>
                        <mat-option value="23">De medicina prepagada en el año</mat-option>
                        <mat-option value="24">De educación en el año</mat-option>
                        <mat-option value="25">De recreación y turismo en el año</mat-option>
                        <mat-option value="26">Otros convenios 1 utilizados en el año</mat-option>
                        <mat-option value="27">Otros convenios 2 utilizados en el año</mat-option>
                        <mat-option value="28">Otros convenios 3 utilizados en el año</mat-option>
                        <mat-option value="29">Otros convenios 4 utilizados en el año</mat-option>
                      </mat-select>
                      <!-- <input matInput placeholder="Tipo" type="text" formControlName="utilizacionConvenios"> -->
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('utilizacionConvenios').hasError('required') && financiera.get('utilizacionConvenios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Cual?" type="text" formControlName="cualConvenios">
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('cualConvenios').hasError('required') && financiera.get('cualConvenios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Valor Desembolso" type="number"
                        formControlName="valorDesembolsoConvenios">
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('valorDesembolsoConvenios').hasError('required') && financiera.get('valorDesembolsoConvenios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersConvenios" placeholder="Fecha desembolso"
                        formControlName="fechaDesembolsoConvenios">
                      <mat-datepicker-toggle matSuffix [for]="pickersConvenios"></mat-datepicker-toggle>
                      <mat-datepicker #pickersConvenios></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="financiera.get('fechaDesembolsoConvenios').hasError('required') && financiera.get('fechaDesembolsoConvenios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>