<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <ul>
            <li class="mt-2">
              <a routerLink="/basica">
                <button mat-flat-button class="bg-coop text-white">
                  Ficha socioeconómica de la organización
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/cooperativa/economica">
                <button mat-flat-button class=" bg-coop text-white">
                  Economica
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/cooperativa/educacion">
                <button mat-flat-button disabled>
                  Educación
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/cooperativa/comunicado">
                <button mat-flat-button disabled>
                  Comunicación
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/cooperativa/cooperacion">
                <button mat-flat-button disabled>
                  Cooperación
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/cooperativa/otracooperacion">
                <button mat-flat-button disabled>
                  Otras Cooperaciones
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/cooperativa/comunidad">
                <button mat-flat-button disabled>
                  Comunidad
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/cooperativa/otrascomunidad">
                <button mat-flat-button disabled>
                  Otras Comunidad
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/cooperativa/otros">
                <button mat-flat-button disabled>
                  Otros
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/cooperativa/evaluaciones">
                <button mat-flat-button disabled>
                  Evaluación
                </button>
              </a>
            </li>
          </ul>
        </div>


        <div class="col-sm-12 col-md-12 col-lg-8">
          <!-- <app-card-info-asociado *ngIf="!searchData"></app-card-info-asociado> -->
          <mat-card class="mt-1" *ngIf="viewCard">
            <div class="row">
              <div class="col-sm-1 offset-sm-11">
                <a (click)="editForm()">
                  <mat-icon class="text-primary cursor">border_color</mat-icon>
                </a>
              </div>
            </div>
            <mat-card-content>
              <div class="row" *ngFor="let economica of dataUser; let i = index">
                <div class="col-sm-12">
                  <h5 class="m-2">Información Edonomica {{ i + 1 }}</h5>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Ahorros permanentes: </b>
                    <span>
                      {{  economica?.AhorrosPermanentes | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Aportes no reducibles: </b>
                    <span>
                      {{  economica?.AportesNoReducibles | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Aportes sociales: </b>
                    <span>
                      {{  economica?.AportesSociales | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Distribución vigilancia: </b>
                    <span>
                      {{  economica?.DistribucionVigilancia | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Exedente de años anteriores: </b>
                    <span>
                      {{  economica?.ExedenteAnhoAnterior | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Fondo educativo: </b>
                    <span>
                      {{  economica?.FondoEducacion | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Fondo de solidaridad: </b>
                    <span>
                      {{  economica?.FondoSolidaridad | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Monto de cierre: </b>
                    <span>
                      {{  economica?.MontoCierre | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Total fondos invertidos: </b>
                    <span>
                      {{  economica?.TotalFondosInvertidos | currency }}
                    </span></p>
                </div>
              </div>

              <div class="row" *ngFor="let participa of dataParticipacion; let i = index">
                <div class="col-sm-12">
                  <h5 class="m-2">Información participación Economica {{ i + 1 }}</h5>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Fondo bienestar: </b>
                    <span>
                      {{  participa?.FondoBienestar | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Fondo desarrollo empresarial: </b>
                    <span>
                      {{  participa?.FondoDesarrolloEmpresarial | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Aportes sociales: </b>
                    <span>
                      {{  participa?.OtroFondo | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Cual: </b>
                    <span>
                      {{  participa?.Cual }}
                    </span></p>
                </div>
              </div>

              <div class="row" *ngFor="let autonomia of dataAutonomia; let i = index">
                <mat-divider></mat-divider>
                <div class="col-sm-12 col-lg-6" *ngIf="autonomia.CuentaBuenGobierno !== null">
                  <p><b>Cuenta buen gobierno: </b>
                    <span>
                      {{  autonomia?.CuentaBuenGobierno }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6" *ngIf="autonomia.PatrocinioBeneficio !== null">
                  <p><b>Patrocinio beneficio: </b>
                    <span>
                      {{  autonomia?.PatrocinioBeneficio | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6" *ngIf="autonomia.Valor !== null">
                  <p><b>Aportes sociales: </b>
                    <span>
                      {{  autonomia?.Valor | currency }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6" *ngIf="autonomia.Tasa !== null">
                  <p><b>Tasa: </b>
                    <span>
                      {{  autonomia?.Tasa }}
                    </span></p>
                </div>
              </div>

            </mat-card-content>
            <mat-card-content *ngIf="viewCard">
              <div class="row">
                <div class="col-sm-2 offset-sm-10">
                  <a routerLink="/orgeducacion">
                    <button mat-raised-button class="bg-coop text-white">
                      Continuar
                    </button>
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-8" *ngIf="!viewCard">
          <app-fijo-info></app-fijo-info>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="economica">
            <mat-card class="example-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Ficha socioeconómica de la organización</h5>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Participación Económica de los asociados 1</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Ahorros permanentes" type="text" formControlName="ahorros">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('ahorros').hasError('required') && economica.get('ahorros').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Aportes sociales" type="text" formControlName="aportes">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('aportes').hasError('required') && economica.get('aportes').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Aportes soc. Min. no Reducibles" type="text"
                        formControlName="reducibles">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('reducibles').hasError('required') && economica.get('reducibles').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Monto contribuciones al cierre del año" type="text"
                        formControlName="monto">
                    </mat-form-field>
                    <mat-error *ngIf="economica.get('monto').hasError('required') && economica.get('monto').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Total fondos invertidos en fondos Soc." type="text"
                        formControlName="total">
                    </mat-form-field>
                    <mat-error *ngIf="economica.get('total').hasError('required') && economica.get('total').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Excedente año anterior" type="text" formControlName="exedente">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('exedente').hasError('required') && economica.get('exedente').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Distribución excedentes en la vigilancia" type="text"
                        formControlName="distribucion">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('distribucion').hasError('required') && economica.get('distribucion').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fondos Educación" type="text" formControlName="fondoEducativo">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('fondoEducativo').hasError('required') && economica.get('fondoEducativo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fondos solidaridad" type="text" formControlName="fondoSolidaridad">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('fondoSolidaridad').hasError('required') && economica.get('fondoSolidaridad').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <mat-dvider></mat-dvider>
                    <h6>Participación Económica de los asociados 2</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fondos bienestar y recreación" type="text"
                        formControlName="fondoBienestar">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('fondoBienestar').hasError('required') && economica.get('fondoBienestar').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Fondos desarrollo empresarial" type="text"
                        formControlName="fondoDesarrollo">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('fondoDesarrollo').hasError('required') && economica.get('fondoDesarrollo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Otro fondo" type="text" formControlName="otroFondo">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('otroFondo').hasError('required') && economica.get('otroFondo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <textarea matInput formControlName="cual" placeholder="Cual?"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Autonomía e independencia</h5>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Apalancamiento propio</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Valor" type="text" formControlName="valorApalancamientoPropio">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('valorApalancamientoPropio').hasError('required') && economica.get('valorApalancamientoPropio').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="tasa" type="text" formControlName="tasaApalancamientoPropio">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('tasaApalancamientoPropio').hasError('required') && economica.get('tasaApalancamientoPropio').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Apalancamiento con terceros</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Valor" type="text" formControlName="valorApalancamientoTerceros">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('valorApalancamientoTerceros').hasError('required') && economica.get('valorApalancamientoTerceros').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Tasa" type="text" formControlName="tasaApalancamientoTerceros">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('tasaApalancamientoTerceros').hasError('required') && economica.get('tasaApalancamientoTerceros').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Patrocinio para beneficio de los asociados</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Patrocinio para beneficio de los asociados" type="text"
                        formControlName="patrocinio">
                    </mat-form-field>
                    <mat-error
                      *ngIf="economica.get('patrocinio').hasError('required') && economica.get('patrocinio').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="gobierno">¿Cuanta la organización con
                        código de buen gobierno?</mat-checkbox>
                    </section>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>