<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
          <div class="col-sm-12 col-md-12 col-lg-4">
              <ul>
                  <li class="mt-2">
                    <a routerLink="/basica">
                      <button mat-flat-button class="bg-coop text-white">
                        Ficha socioeconómica de la organización
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/economica">
                      <button mat-flat-button class=" bg-coop text-white">
                        Economica
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/educacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Educación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunicado">
                      <button mat-flat-button class="bg-coop text-white">
                        Comunicación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/cooperacion">
                      <button mat-flat-button disabled>
                        Cooperación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otracooperacion">
                      <button mat-flat-button disabled>
                        Otras Cooperaciones
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunidad">
                      <button mat-flat-button disabled>
                        Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otrascomunidad">
                      <button mat-flat-button disabled>
                        Otras Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otros">
                      <button mat-flat-button disabled>
                        Otros
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/evaluaciones">
                      <button mat-flat-button disabled>
                        Evaluación
                      </button>
                    </a>
                  </li>
                </ul>
            </div>
            
            <div class="col-sm-12 col-md-12 col-lg-8">
            <app-fijo-info></app-fijo-info>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="comunicado">
            <mat-card class="example-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>La organización se comunica con sus asociados por</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="telefono">Teléfono</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="mensajeTexto">Mensajes de texto
                      </mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="boletines">Boletines</mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="paginaweb">La página web</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="correo">Correo Electronico</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="redes">Redes sociales</mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="video">Video conferencias</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="escritos">Medios escritos</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="radiales">Medios radiales</mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="television">Televisión</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="revistas">Revistas y libros</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="carteleras">Carteleras</mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="otro">Otros</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Cual?" type="text" formControlName="cual">
                    </mat-form-field>
                    <mat-error *ngIf="comunicado.get('cual').hasError('required') && comunicado.get('cual').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Los asociados se comunican con la organización por</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="presencial">Presencial</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="present">Presencial</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="lineaAtencion">Línea de Atención
                      </mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="buzon">Buzón de sugerencias</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="escrita">Escrita</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="correoElectronico">Correo Electrónico
                      </mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="pageWeb">La página web</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="otroAsociados">otro</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <textarea matInput formControlName="cualAsociados"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>¿La organización comunica a sus asociados la situación financiera de la entidad?</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="comunica">Comunica</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Cual es la frecuencia</mat-label>
                      <mat-select formControlName="frecuencia">
                        <mat-option value="Mensual">Mensual</mat-option>
                        <mat-option value="Trimestral">Trimestral</mat-option>
                        <mat-option value="Semestral">Semestral</mat-option>
                        <mat-option value="Anual">Anual</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Cual es el medio que utiliza</mat-label>
                      <mat-select formControlName="medio">
                        <mat-option value="web">web</mat-option>
                        <mat-option value="Prensa">Prensa</mat-option>
                        <mat-option value="Radio">Radio</mat-option>
                        <mat-option value="TV">TV</mat-option>
                        <mat-option value="Redes sociales">Redes sociales</mat-option>
                        <mat-option value="WhatsApp">WhatsApp</mat-option>
                        <mat-option value="Mensajes de texto">Mensajes de texto</mat-option>
                        <mat-option value="Correo urbano">Correo urbano</mat-option>
                        <mat-option value="Correo electrónico">Correo electrónico</mat-option>
                        <mat-option value="Llamada telefónica">Llamada telefónica</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>¿La org. comunica a sus asociados las decisiones tomadas en la asamblea general?</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="comunicaOrg">Comunica</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Cual es el medio que utiliza</mat-label>
                      <mat-select formControlName="medioUtiliza">
                        <mat-option value="web">web</mat-option>
                        <mat-option value="Prensa">Prensa</mat-option>
                        <mat-option value="Radio">Radio</mat-option>
                        <mat-option value="TV">TV</mat-option>
                        <mat-option value="Redes sociales">Redes sociales</mat-option>
                        <mat-option value="WhatsApp">WhatsApp</mat-option>
                        <mat-option value="Mensajes de texto">Mensajes de texto</mat-option>
                        <mat-option value="Correo urbano">Correo urbano</mat-option>
                        <mat-option value="Correo electrónico">Correo electrónico</mat-option>
                        <mat-option value="Llamada telefónica">Llamada telefónica</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>¿La org. comunica a sus asociados las decisiones tomadas por los órganos de admon?</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="comunicaDesiciones">Comunica</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Cual es la frecuencia</mat-label>
                      <mat-select formControlName="cualEsFrecuencia">
                        <mat-option value="Mensual">Mensual</mat-option>
                        <mat-option value="Trimestral">Trimestral</mat-option>
                        <mat-option value="Semestral">Semestral</mat-option>
                        <mat-option value="Anual">Anual</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Cual es el medio que utiliza</mat-label>
                      <mat-select formControlName="medioutiliza2">
                        <mat-option value="web">web</mat-option>
                        <mat-option value="Prensa">Prensa</mat-option>
                        <mat-option value="Radio">Radio</mat-option>
                        <mat-option value="TV">TV</mat-option>
                        <mat-option value="Redes sociales">Redes sociales</mat-option>
                        <mat-option value="WhatsApp">WhatsApp</mat-option>
                        <mat-option value="Mensajes de texto">Mensajes de texto</mat-option>
                        <mat-option value="Correo urbano">Correo urbano</mat-option>
                        <mat-option value="Correo electrónico">Correo electrónico</mat-option>
                        <mat-option value="Llamada telefónica">Llamada telefónica</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>