<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <ul>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">
                  Datos del Asociado
                </button>
              </a>
            </li>
            <li class="mt-2" *ngIf="viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona natural</button>
              </a>
            </li>
            <li class="mt-2" *ngIf="!viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona Jurídica</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Ubicación</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Beneficiarios</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona Contacto</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Datos del Asociado</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Financiero</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Educación</button>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <app-card-info-asociado *ngIf="searchData"></app-card-info-asociado>
          <mat-card class="mt-1" *ngIf="!searchData">
            <div class="row">
              <div class="col-sm-1 offset-sm-11">
                <a (click)="editForm()">
                  <mat-icon class="text-primary cursor">border_color</mat-icon>
                </a>
              </div>
            </div>
            <mat-card-content *ngFor="let info of informacion; let i = index">
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <p><b>Fecha: </b>
                    <span>
                      {{  info?.FechaEducacion | date }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6" *ngIf="info?.Tipocodumento_idTipocodumento !== null">
                  <p><b>Tipo de documento: </b>
                    <span *ngIf="info?.Tipocodumento_idTipocodumento === 1">Cedula de ciudadania</span>
                    <span *ngIf="info?.Tipocodumento_idTipocodumento === 2">Cedula de extranjeria</span>
                    <span *ngIf="info?.Tipocodumento_idTipocodumento === 3">Tarjeta de identidad</span>
                    <span *ngIf="info?.Tipocodumento_idTipocodumento === 4">Registro civil</span>
                    <span *ngIf="info?.Tipocodumento_idTipocodumento === 5">NIT</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6" *ngIf="info?.NumeroIdentificacion !== null">
                  <p><b>Numero de documento: </b>
                    <span>{{  info?.NumeroIdentificacion }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6" *ngIf="info?.Cual !== null">
                  <p><b>Cual: </b>
                    <span>{{  info?.Cual }}</span>
                  </p>
                </div>
              </div>
            </mat-card-content>
            <mat-card-content *ngIf="!viewEdit">
              <div class="row">
                <div class="col-sm-2 offset-sm-10">
                  <a routerLink="/panel">
                    <button mat-raised-button class="bg-coop text-white">
                      Continuar
                    </button>
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <div class="row">
            <div class="col-sm-12">
              <h3>Ficha socioeconómica del asociado</h3>
            </div>
          </div>

          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="educacion" *ngIf="viewEdit">
            <mat-card class="example-card mt-1">
              <mat-card-content>
                <div class="row" *ngIf="!searchData">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="closeEdit()">
                      <mat-icon class="text-danger cursor">close</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Datos Educación.</h5>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="picker" placeholder="Basico en Economía Solidaria (Asociado)"
                        formControlName="fecha">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="educacion.get('fecha').hasError('required') && educacion.get('fecha').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Formal (Asociados/Beneficiarios).</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickers" placeholder="Fecha" formControlName="fechaFormal">
                      <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                      <mat-datepicker #pickers></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('fechaFormal').hasError('required') && educacion.get('fechaFormal').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de documento</mat-label>
                      <mat-select formControlName="tipoDocumentoFormal">
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('tipoDocumentoFormal').hasError('required') && educacion.get('tipoDocumentoFormal').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number"
                        formControlName="numeroDocumentoFormal">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('numeroDocumentoFormal').hasError('required') && educacion.get('numeroDocumentoFormal').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>No Formal (Asociados/Beneficiarios).</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersNoFormal" placeholder="Fecha"
                        formControlName="fechaNoFormal">
                      <mat-datepicker-toggle matSuffix [for]="pickersNoFormal"></mat-datepicker-toggle>
                      <mat-datepicker #pickersNoFormal></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('fechaNoFormal').hasError('required') && educacion.get('fechaNoFormal').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de documento</mat-label>
                      <mat-select formControlName="tipoDocumentoNoFormal">
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('tipoDocumentoNoFormal').hasError('required') && educacion.get('tipoDocumentoNoFormal').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number"
                        formControlName="numeroDocumentoNoFormal">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('numeroDocumentoNoFormal').hasError('required') && educacion.get('numeroDocumentoNoFormal').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Beneficiarios otros progs. (Asociados/Beneficiarios).</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersBeneficiarios" placeholder="Fecha"
                        formControlName="fechaBeneficiario">
                      <mat-datepicker-toggle matSuffix [for]="pickersBeneficiarios"></mat-datepicker-toggle>
                      <mat-datepicker #pickersBeneficiarios></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('fechaBeneficiario').hasError('required') && educacion.get('fechaBeneficiario').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de documento</mat-label>
                      <mat-select formControlName="tipoDocumentoBeneficiario">
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('tipoDocumentoBeneficiario').hasError('required') && educacion.get('tipoDocumentoBeneficiario').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number"
                        formControlName="numeroDocumentoBeneficiario">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('numeroDocumentoBeneficiario').hasError('required') && educacion.get('numeroDocumentoBeneficiario').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Otros programas (Asociados/Beneficiarios).</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersOtros" placeholder="Fecha" formControlName="fechaOtros">
                      <mat-datepicker-toggle matSuffix [for]="pickersOtros"></mat-datepicker-toggle>
                      <mat-datepicker #pickersOtros></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('fechaOtros').hasError('required') && educacion.get('fechaOtros').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de documento</mat-label>
                      <mat-select formControlName="tipoDocumentoOtros">
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('tipoDocumentoOtros').hasError('required') && educacion.get('tipoDocumentoOtros').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number"
                        formControlName="numeroDocumentoOtros">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('numeroDocumentoOtros').hasError('required') && educacion.get('numeroDocumentoOtros').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <textarea matInput formControlName="cual"></textarea>
                    </mat-form-field>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Programas Emprendimiento (Asociados/Beneficiarios).</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersEmprendimientos" placeholder="Fecha"
                        formControlName="fechaOtrosEmprendimiento">
                      <mat-datepicker-toggle matSuffix [for]="pickersEmprendimientos"></mat-datepicker-toggle>
                      <mat-datepicker #pickersEmprendimientos></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('fechaOtrosEmprendimiento').hasError('required') && educacion.get('fechaOtrosEmprendimiento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de documento</mat-label>
                      <mat-select formControlName="tipoDocumentoOtrosEmprendimiento">
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('tipoDocumentoOtrosEmprendimiento').hasError('required') && educacion.get('tipoDocumentoOtrosEmprendimiento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number"
                        formControlName="numeroDocumentoOtrosEmprendimiento">
                    </mat-form-field>
                    <mat-error
                      *ngIf="educacion.get('numeroDocumentoOtrosEmprendimiento').hasError('required') && educacion.get('numeroDocumentoOtrosEmprendimiento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>

              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>