<mat-card>
  <mat-card-header>
    <mat-card-title>Identificación</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p><b>Tipo de documento: </b>
          <span *ngIf="dataInfo?.tipoDocumento === 1">Cedula de ciudadania</span>
          <span *ngIf="dataInfo?.tipoDocumento === 2">Cedula de extranjeria</span>
          <span *ngIf="dataInfo?.tipoDocumento === 3">Tarjeta de identidad</span>
          <span *ngIf="dataInfo?.tipoDocumento === 4">Registro civil</span>
          <span *ngIf="dataInfo?.tipoDocumento === 5">NIT</span>
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p>
          <b>Numero de documento:</b>
          <span>{{ dataInfo?.documento }}</span>
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p>
          <b>Nombre o razón social:</b>
          <span>{{ dataInfo?.nombreRazon }}</span>
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p>
          <b>Tipo de persona: </b>
          <span *ngIf="dataInfo?.tipoPersona === '1'">Persona Natural</span>
          <span *ngIf="dataInfo?.tipoPersona === '2'">Persona Juridica</span>
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
