<mat-card>
        <mat-card-header>
          <mat-card-title>Información del asociado</mat-card-title>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <p>
                <b>Razon Social:</b>
                <span>{{ dataInfo?.nombreEntidad }}</span>
              </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <p>
                    <b>NIT: </b>
                    <span>{{ dataInfo?.nit }}</span>
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <p>
                    <b>Numero de asociados: </b>
                    <span>{{ dataInfo?.numeroAsociados }}</span>
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <p>
                    <b>Año: </b>
                    <span>{{ dataInfo?.anho }}</span>
                </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      