<div class="bg-coop">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1 mt-5">
        <h1 class="text-white">coopefuac</h1>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2 mt-5">
      <mat-card class="example-card">
        <mat-card-content>
          <div class="row">
            <!-- <div class="col-sm-12 col-md-12 col-lg-7">
              <mat-card-title>Registro</mat-card-title>
              <form class="example-form" novalidate (ngSubmit)="onSubmit()" [formGroup]="registro">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione Su tipo de documento</mat-label>
                      <mat-select formControlName="TipoDocumento">
                         <mat-option>None</mat-option> 
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="registro.get('TipoDocumento').hasError('required') && registro.get('TipoDocumento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number" formControlName="idUsers">
                    </mat-form-field>
                    <mat-error *ngIf="registro.get('idUsers').hasError('required') && registro.get('idUsers').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primer nombre" type="text" formControlName="nombre">
                    </mat-form-field>
                    <mat-error *ngIf="registro.get('nombre').hasError('required') && registro.get('nombre').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Segundo Nombre" type="text" formControlName="nombreDos">
                    </mat-form-field>
                    <mat-error *ngIf="registro.get('nombreDos').hasError('required') && registro.get('nombreDos').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primer apellido" type="text" formControlName="apellidoPrimero">
                    </mat-form-field>
                    <mat-error *ngIf="registro.get('apellidoPrimero').hasError('required') && registro.get('apellidoPrimero').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Segundo apellido" type="text" formControlName="apellidoSegundo">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Correo electronico" type="email" formControlName="Email">
                    </mat-form-field>
                    <mat-error *ngIf="registro.get('Email').hasError('required') && registro.get('Email').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombre de usuario" type="text" formControlName="|rName">
                    </mat-form-field>
                    <mat-error *ngIf="registro.get('UserName').hasError('required') && registro.get('UserName').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Contraseña" [type]="typeInput" formControlName="Password">
                      <mat-icon matSuffix class="cursor" (click)="viewPassword()">{{ iconPassword }}</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="registro.get('Password').hasError('required') && registro.get('Password').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Repita su contraseña" [type]="typeInputRe" formControlName="RepeatPassword">
                      <mat-icon matSuffix class="cursor" (click)="viewRePassword()">{{ iconRePassword }}</mat-icon>
                    </mat-form-field>
                    <mat-error *ngIf="registro.get('RepeatPassword').hasError('required') && registro.get('RepeatPassword').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-5">
                    <button mat-raised-button color="primary" type="submit">Registrarme</button>
                  </div>
                </div>
              </form>
            </div> -->
            <div class="col-sm-12 col-md-12 col-lg-12">
              <mat-card-title>Login</mat-card-title>
              <form class="example-form" novalidate (ngSubmit)="onSubmitLogin()" [formGroup]="login">
                <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Numero de documento" type="number" formControlName="idUsers">
                  </mat-form-field>
                  <mat-error *ngIf="login.get('idUsers').hasError('required') && login.get('idUsers').touched">
                    Este campo es <strong>requerido</strong>
                  </mat-error>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contraseña" [type]="typeInputLogin" formControlName="Password">
                    <mat-icon matSuffix class="cursor" (click)="viewPasswordLogin()">{{ iconPasswordLogin }}</mat-icon>
                  </mat-form-field>
                  <mat-error *ngIf="login.get('Password').hasError('required') && login.get('Password').touched">
                    Este campo es <strong>requerido</strong>
                  </mat-error>
                </div>
                <div class="col-sm-12">
                  <a routerLink="/recover" >Recuperar usuario</a>
                </div>
                <div class="mt-2">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4 offset-lg-2">
                      <button mat-raised-button color="primary" type="submit">Login</button>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 offset-lg-2">
                      <a mat-raised-button color="primary" routerLink="/registro" type="submit">Registrarse</a>
                    </div>
                  </div>
                </div>
              </div>
              </form>

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
  </div>
</div>
