<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">CoopeFUAC</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-3">
          <ul>
            <li class="mt-2">
              <a routerLink="/basica">
                <button mat-flat-button disabled>
                  Ficha socieconómica del asociado
                </button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/natural">
                <button mat-flat-button disabled>Persona natural</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/juridica">
                <button mat-flat-button disabled>Persona Jurídica</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/ubicación">
                <button mat-flat-button disabled>Ubicación</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/beneficiarios">
                <button mat-flat-button disabled>Persona Beneficiarios</button>
              </a>
            </li>
            <li class="mt-2">
                <a routerLink="/contacto">
                  <button mat-flat-button disabled>Persona Contacto</button>
                </a>
              </li>
            <li class="mt-2">
              <a routerLink="/asociado">
                <button mat-flat-button disabled>Asociados</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/financiero">
                <button mat-flat-button disabled>Financiero</button>
              </a>
            </li>
            <li class="mt-2">
              <a routerLink="/educacion">
                <button mat-flat-button disabled>Datos Educación</button>
              </a>
            </li>            
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-1">
          <mat-card class="example-card">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a routerLink="/basica">
                <button mat-button class="text-coop">Registrar o actualizar mis datos</button>
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>