<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div  class="col-sm-12 col-md-12 col-lg-4">
          <ul>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">
                  Datos del Asociado
                </button>
              </a>
            </li>
            <li class="mt-2" *ngIf="viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona natural</button>
              </a>
            </li>
            <li class="mt-2" *ngIf="!viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona Jurídica</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Ubicación</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Beneficiarios</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button >Persona Contacto</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button >Datos del Asociado</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Financiero</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Educación</button>
              </a>
            </li>
          </ul>
        </div>>
        <div class="col-sm-12 col-md-12 col-lg-8" *ngIf="verResumen">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Información de empleos
                </mat-panel-title>
                <mat-panel-description>
                  Aqui encontrara todos los empleos registrados {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card class="example-card mt-2" *ngFor="let almacenEmpleado of almacenEmpleados; let i index">
                <mat-card-content>
                  <div class="row">
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>NIT: </b> <span>{{ almacenEmpleado?.nit }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Cargo: </b> <span>{{ almacenEmpleado?.empresa }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Empresa: </b> <span>{{ almacenEmpleado?.cargo }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Salario: </b> <span>{{ almacenEmpleado?.salario }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Dirección: </b> <span>{{ almacenEmpleado?.direccion }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Departamento: </b> <span>{{ almacenEmpleado?.ciudad }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Ciudad: </b> <span>{{ almacenEmpleado?.departamento }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Tipo de contrato: </b> <span>{{ almacenEmpleado?.tipoContrato }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Fecha de inicio: </b> <span>{{ almacenEmpleado?.fechaInicio | date }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Fecha final: </b> <span>{{ almacenEmpleado?.fechaFinal }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Años: </b> <span>{{ almacenEmpleado?.tiempoAnhos }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Meses: </b> <span>{{ almacenEmpleado?.tiempoMeses }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Base: </b> <span>{{ almacenEmpleado?.porcentajeDescuentoBase }}</span></p>
                    </col-sm-12>
                    <col-sm-12 class="col-md-12 col-lg-6">
                      <p><b>Adicional: </b> <span>{{ almacenEmpleado?.porcentajeDescuentoAdicional }}</span></p>
                    </col-sm-12>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 ">
          <app-card-info-asociado></app-card-info-asociado>
          <div *ngIf="searchData">
            <mat-card class="mt-1" *ngFor="let info of informacion; let i = index">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="editForm()">
                      <mat-icon class="text-primary cursor">border_color</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>NIT: </b>
                      <span>{{ info?.Nit }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Cargo: </b>
                      <span>{{ info?.Cargo }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Empresa: </b>
                      <span>{{ info?.Empresa }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Salario: </b>
                      <span>{{ info?.Salario | currency }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Dirección: </b>
                      <span>{{ info?.Direccion }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Departamento: </b>
                      <span>{{ info?.Departamento_idDepartamento }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Ciudad: </b>
                      <span>{{ info?.Ciudad_idCiudad }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Fecha inicio: </b>
                      <span>{{ info?.FechaInicio | date }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Fecha final: </b>
                      <span>{{ info?.FechaTerminacion | date }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Años: </b>
                      <span>{{ info?.TiempoServicioAnhos }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Meses: </b>
                      <span>{{ info?.EmpleocolTiempoServicioMeses }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Base: </b>
                      <span>{{ info?.DescuentosBase }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Adicional: </b>
                      <span>{{ info?.DescuentosAdicional }}</span>
                    </p>
                  </div>
                </div>
              </mat-card-content>
              <!-- <mat-card-content *ngIf="!viewEdit">
                <div class="row">
                  <div class="col-sm-2 offset-sm-10">
                    <a routerLink="/ubicacion">
                      <button mat-raised-button class="bg-coop text-white">
                        Continuar
                      </button>
                    </a>
                  </div>
                </div>
              </mat-card-content> -->
            </mat-card>
          </div>


          <div *ngIf="searchData">
            <mat-card class="mt-1" *ngFor="let infoAs of infoAsambleas; let i = index">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="editForm()">
                      <mat-icon class="text-primary cursor">border_color</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Fecha asistencia: </b>
                      <span>{{ infoAs?.FechaAsistencia | date }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Asistio: </b>
                      <span *ngIf="infoAs?.Asistio">Si</span>
                      <span *ngIf="infoAs?.Delego">No</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Tipo Identificación: </b>
                      <span *ngIf="infoAs?.Tipocodumento_idTipocodumento === 1">Cedula de ciudadania</span>
                      <span *ngIf="infoAs?.Tipocodumento_idTipocodumento === 2">Cedula de extranjeria</span>
                      <span *ngIf="infoAs?.Tipocodumento_idTipocodumento === 3">Tarjeta de identidad</span>
                      <span *ngIf="infoAs?.Tipocodumento_idTipocodumento === 4">Registro civil</span>
                      <span *ngIf="infoAs?.Tipocodumento_idTipocodumento === 5">NIT</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Numero identificación: </b>
                      <span>{{ infoAs?.NumeroIdentificacion }}</span>
                    </p>
                  </div>
                </div>
              </mat-card-content>
              <!-- <mat-card-content *ngIf="!viewEdit">
                  <div class="row">
                    <div class="col-sm-2 offset-sm-10">
                      <a routerLink="/ubicacion">
                        <button mat-raised-button class="bg-coop text-white">
                          Continuar
                        </button>
                      </a>
                    </div>
                  </div>
                </mat-card-content> -->
            </mat-card>
          </div>
          <div *ngIf="searchData">
            <mat-card class="mt-1" *ngFor="let infoCoop of infoCooperativos; let i = index">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="editForm()">
                      <mat-icon class="text-primary cursor">border_color</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Cursos: </b>
                      <span>{{ infoCoop?.CursosCooperativos }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Fecha: </b>
                      <span>{{ infoCoop?.Fecha | date }}</span>
                    </p>
                  </div>
                </div>
              </mat-card-content>
              <!-- <mat-card-content *ngIf="!viewEdit">
                    <div class="row">
                      <div class="col-sm-2 offset-sm-10">
                        <a routerLink="/ubicacion">
                          <button mat-raised-button class="bg-coop text-white">
                            Continuar
                          </button>
                        </a>
                      </div>
                    </div>
                  </mat-card-content> -->
            </mat-card>
          </div>

          <div *ngIf="searchData">
            <mat-card class="mt-1" *ngFor="let infoVinCoop of infoVinculosCoop; let i = index">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="editForm()">
                      <mat-icon class="text-primary cursor">border_color</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Fecha de estado: </b>
                      <span *ngIf="infoVinCoop?.FechaEstado === 1">Retirado</span>
                      <span *ngIf="infoVinCoop?.FechaEstado === 2">Hábil</span>
                      <span *ngIf="infoVinCoop?.FechaEstado === 3">Inhábil</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Fecha de afiliación: </b>
                      <span>{{ infoVinCoop?.FechaAfiliacion | date }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Fecha de retiro: </b>
                      <span>{{ infoVinCoop?.FechaRetiro | date }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Estado: </b>
                      <span>{{ infoVinCoop?.Estados_idEstados  }}</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Causal: </b>
                      <span>{{ infoVinCoop?.Causal }}</span>
                    </p>
                  </div>
                </div>
              </mat-card-content>
              <!-- <mat-card-content *ngIf="!viewEdit">
                      <div class="row">
                        <div class="col-sm-2 offset-sm-10">
                          <a routerLink="/ubicacion">
                            <button mat-raised-button class="bg-coop text-white">
                              Continuar
                            </button>
                          </a>
                        </div>
                      </div>
                    </mat-card-content> -->
            </mat-card>
          </div>
          <div *ngIf="searchData">
            <mat-card class="mt-1" *ngFor="let infoInt of infoIntereses; let i = index">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="editForm()">
                      <mat-icon class="text-primary cursor">border_color</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Vehiculo: </b>
                      <span *ngIf="infoInt?.Vehiculo">Si</span>
                      <span *ngIf="!infoInt?.Vehiculo">No</span>
                    </p>
                  </div>
                  <div class="col-sm-12 col-lg-6">
                    <p>
                      <b>Otros ingresos: </b>
                      <span>{{ infoInt?.OtrosIngresos | currency }}</span>
                    </p>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-content *ngIf="!viewEdit">
                <div class="row">
                  <div class="col-sm-2 offset-sm-10">
                    <a routerLink="/financiero">
                      <button mat-raised-button class="bg-coop text-white">
                        Continuar
                      </button>
                    </a>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h3>Ficha socioeconómica del asociado</h3>
            </div>
          </div>

          <app-card-info-asociado *ngIf="viewEdits"></app-card-info-asociado>
          <form novalidate (ngSubmit)="onSubmitEmpleado()" [formGroup]="empleo" *ngIf="viewEdits">
            <mat-card class="example-card mt-1">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="closeEdit()">
                      <mat-icon class="text-danger cursor">close</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <!-- <mat-divider></mat-divider> -->
                  <div class="col-sm-12 mt-2">
                    <h5>Contrato.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="NIT" type="number" formControlName="nit">
                    </mat-form-field>
                    <mat-error *ngIf="empleo.get('nit').hasError('required') && empleo.get('nit').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Cargo" type="text" formControlName="cargo">
                    </mat-form-field>
                    <mat-error *ngIf="empleo.get('cargo').hasError('required') && empleo.get('cargo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Empresa" type="text" formControlName="empresa">
                    </mat-form-field>
                    <mat-error *ngIf="empleo.get('empresa').hasError('required') && empleo.get('empresa').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Salario" type="number" formControlName="salario">
                    </mat-form-field>
                    <mat-error *ngIf="empleo.get('salario').hasError('required') && empleo.get('salario').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Dirección" type="text" formControlName="direccion">
                    </mat-form-field>
                    <mat-error *ngIf="empleo.get('direccion').hasError('required') && empleo.get('direccion').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <!-- <input matInput placeholder="Departamento" type="text" formControlName="departamento"> -->
                      <mat-label>Seleccione su Departamento</mat-label>
                      <mat-select formControlName="departamento" (focus)="departamentoCiudad()">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option *ngFor="let departamento of departamentos" [value]="departamento?.idDepartamentos">
                          {{ departamento?.Departamento }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="empleo.get('departamento').hasError('required') && empleo.get('departamento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>

                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="verCiudad">
                    <mat-form-field class="example-full-width">
                      <!-- <input matInput placeholder="Ciudad" type="text" formControlName="ciudad"> -->
                      <mat-label>Seleccione su Ciudad</mat-label>
                      <mat-select formControlName="ciudad">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad?.idMunicipio">
                          {{ ciudad?.Municipio }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="empleo.get('ciudad').hasError('required') && empleo.get('ciudad').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>

                </div>
                <!-- <mat-divider></mat-divider> -->
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de contrato</mat-label>
                      <mat-select formControlName="tipoContrato">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Término fijo</mat-option>
                        <mat-option value="2">Término indefinido</mat-option>
                        <mat-option value="3">Obra labor</mat-option>
                        <mat-option value="5">Prestación de servicios</mat-option>
                        <mat-option value="6">De aprendisaje</mat-option>
                        <mat-option value="7">Ocasional</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="empleo.get('tipoContrato').hasError('required') && empleo.get('tipoContrato').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="picker" placeholder="Fecha de inicio"
                        formControlName="fechaInicio">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="empleo.get('fechaInicio').hasError('required') && empleo.get('fechaInicio').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickers" placeholder="Fecha final" formControlName="fechaFinal">
                      <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                      <mat-datepicker #pickers></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="empleo.get('fechaFinal').hasError('required') && empleo.get('fechaFinal').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Años" type="number" formControlName="tiempoAnhos">
                    </mat-form-field>
                    <mat-error
                      *ngIf="empleo.get('tiempoAnhos').hasError('required') && empleo.get('tiempoAnhos').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Meses" type="number" formControlName="tiempoMeses">
                    </mat-form-field>
                    <mat-error
                      *ngIf="empleo.get('tiempoMeses').hasError('required') && empleo.get('tiempoMeses').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2">
                    <h5>Porcentaje de descuentos.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Base" type="number" formControlName="porcentajeDescuentoBase">
                    </mat-form-field>
                    <mat-error
                      *ngIf="empleo.get('porcentajeDescuentoBase').hasError('required') && empleo.get('porcentajeDescuentoBase').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Adicional" type="number"
                        formControlName="porcentajeDescuentoAdicional">
                    </mat-form-field>
                    <mat-error
                      *ngIf="empleo.get('porcentajeDescuentoAdicional').hasError('required') && empleo.get('porcentajeDescuentoAdicional').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-8">
                      <button mat-flat-button class="bg-coop text-white" type="submit">
                        Agregar empleos
                      </button>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </form>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="asociado" *ngIf="viewEdits">
            <mat-card class="mt-1">
              <mat-card-content>
                <div class="row">
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2">
                    <h5>Cursos Cooperativos.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Curso" type="text" formControlName="curso">
                      <!-- <mat-select formControlName="curso">
                        
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select> -->
                    </mat-form-field>
                    <mat-error *ngIf="asociado.get('curso').hasError('required') && asociado.get('curso').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickers1" placeholder="Fecha"
                        formControlName="fechaCooperativos">
                      <mat-datepicker-toggle matSuffix [for]="pickers1"></mat-datepicker-toggle>
                      <mat-datepicker #pickers1></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('fechaCooperativos').hasError('required') && asociado.get('fechaCooperativos').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2">
                    <h5>Datos de Interes.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Posee vehiculo</mat-label>
                      <mat-select formControlName="poseeVehiculo">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="Si">Si</mat-option>
                        <mat-option value="No">No</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('poseeVehiculo').hasError('required') && asociado.get('poseeVehiculo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Otros ingresos" type="text" formControlName="otrosIngresos">
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('otrosIngresos').hasError('required') && asociado.get('otrosIngresos').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="col-sm-12 mt-2">
                  <h5>Asistencia asamblea.</h5>
                </div>
                <div class="row">
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2">
                    <h6>Ordinaria.</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersordinaria" placeholder="Fecha"
                        formControlName="fechaOrdinaria">
                      <mat-datepicker-toggle matSuffix [for]="pickersordinaria"></mat-datepicker-toggle>
                      <mat-datepicker #pickersordinaria></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('fechaOrdinaria').hasError('required') && asociado.get('fechaOrdinaria').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <!-- <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="asistio">Asistio</mat-checkbox>
                      <mat-checkbox class="example-margin" formControlName="delego">Delego</mat-checkbox>
                    </section> -->
                    <div class="col-sm-12">
                      <span class="text-secondary">Asamblea</span>
                    </div>
                    <mat-radio-group aria-label="Select una opción" formControlName="asistio">
                      <mat-radio-button (change)="activarAsistencia($event)" value="1">Asistio</mat-radio-button>
                      <mat-radio-button (change)="activarAsistencia($event)" value="0">Delego</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row" *ngIf="delega">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de documento</mat-label>
                      <mat-select formControlName="tipoDocumento">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('tipoDocumento').hasError('required') && asociado.get('tipoDocumento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number" formControlName="numeroDocumento">
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('numeroDocumento').hasError('required') && asociado.get('numeroDocumento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2">
                    <h6>Extraordinaria.</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersextraordinaria" placeholder="Fecha"
                        formControlName="fechaExtraordinaria">
                      <mat-datepicker-toggle matSuffix [for]="pickersextraordinaria"></mat-datepicker-toggle>
                      <mat-datepicker #pickersextraordinaria></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('fechaExtraordinaria').hasError('required') && asociado.get('fechaExtraordinaria').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <!-- <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="asistioExtraordinario">Asistio
                      </mat-checkbox>
                      <mat-checkbox class="example-margin" formControlName="delegoExtraordinario">Delego</mat-checkbox>
                    </section> -->
                    <div class="col-sm-12">
                      <span class="text-secondary">Asamblea</span>
                    </div>
                    <mat-radio-group aria-label="Select una opción" formControlName="asistioExtraordinario">
                      <mat-radio-button (change)="activarAsistenciaDos($event)" value="1">Asistio</mat-radio-button>
                      <mat-radio-button (change)="activarAsistenciaDos($event)" value="0">Delego</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="row" *ngIf="delegaDos">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de documento</mat-label>
                      <mat-select formControlName="tipoDocumentoExtraordinario">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('tipoDocumentoExtraordinario').hasError('required') && asociado.get('tipoDocumentoExtraordinario').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number"
                        formControlName="numeroDocumentoExtraordinario">
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('numeroDocumentoExtraordinario').hasError('required') && asociado.get('numeroDocumentoExtraordinario').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <!-- <mat-divider></mat-divider> -->
                <div class="row">
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2">
                    <h5>Vinculo cooperativa.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <!-- <input matInput placeholder="Estado" type="text" formControlName="estado"> -->
                      <mat-label>Seleccione su Estado</mat-label>
                      <mat-select formControlName="estado">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Retirado</mat-option>
                        <mat-option value="2">Hábil</mat-option>
                        <mat-option value="3">Inhábil</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="asociado.get('estado').hasError('required') && asociado.get('estado').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersAfiliacion" placeholder="Fecha afiliación"
                        formControlName="fechaAfiliacion">
                      <mat-datepicker-toggle matSuffix [for]="pickersAfiliacion"></mat-datepicker-toggle>
                      <mat-datepicker #pickersAfiliacion></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('fechaAfiliacion').hasError('required') && asociado.get('fechaAfiliacion').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersRetiro" placeholder="Fecha retiro"
                        formControlName="fechaRetiro">
                      <mat-datepicker-toggle matSuffix [for]="pickersRetiro"></mat-datepicker-toggle>
                      <mat-datepicker #pickersRetiro></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('fechaRetiro').hasError('required') && asociado.get('fechaRetiro').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickersEstado" placeholder="Fecha estado"
                        formControlName="fechaEstado">
                      <mat-datepicker-toggle matSuffix [for]="pickersEstado"></mat-datepicker-toggle>
                      <mat-datepicker #pickersEstado></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="asociado.get('fechaEstado').hasError('required') && asociado.get('fechaEstado').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Causal" type="text" formControlName="causal">
                    </mat-form-field>
                    <mat-error *ngIf="asociado.get('causal').hasError('required') && asociado.get('causal').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>