/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.cursor{
    cursor: pointer;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

#sticky-footer {
    flex-shrink: none;
}
.bg-coop{
    background-color: #A9CF46;
}

.text-coop{
    color: #A9CF46;
}
.mat-fab.mat-accent{
    background-color: #A9CF46;
}
.text-fuac{
    color: #232122;
}
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
input[type="number"] {
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}

li{
    list-style: none;
}