<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>CoopeFUAC</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-2">
          <ul>
            <li>
              <button mat-flat-button class="btn-lg" color="primary">Informes</button>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-10">
          <mat-card class="example-card">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione año a generar</mat-label>
                      <mat-select>
                        <mat-option value="food.value">
                          food.viewValue
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-card-actions>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>