<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
          <div class="col-sm-12 col-md-12 col-lg-4">
              <ul>
                  <li class="mt-2">
                    <a routerLink="/basica">
                      <button mat-flat-button class="bg-coop text-white">
                        Ficha socioeconómica de la organización
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/economica">
                      <button mat-flat-button class=" bg-coop text-white">
                        Economica
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/educacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Educación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunicado">
                      <button mat-flat-button class="bg-coop text-white">
                        Comunicación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/cooperacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Cooperación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otracooperacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Otras Cooperaciones
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunidad">
                      <button mat-flat-button disabled>
                        Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otrascomunidad">
                      <button mat-flat-button disabled>
                        Otras Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otros">
                      <button mat-flat-button disabled>
                        Otros
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/evaluaciones">
                      <button mat-flat-button disabled>
                        Evaluación
                      </button>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
            <app-fijo-info></app-fijo-info>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="otrasCooperaciones">
            <mat-card class="example-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Acuerdos con otras organizaciones para desarrollar programas propios</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="economicos">Económicos</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="educativos">Educativos</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="culturales">Culturales y recreativos</mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Tipos de acuerdo" type="text" formControlName="tiposAcuerdo">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otrasCooperaciones.get('tiposAcuerdo').hasError('required') && otrasCooperaciones.get('tiposAcuerdo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Organismos internacionales</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="membresia">Menbresía con algún organismo
                        internacional</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Entidad" type="text" formControlName="entidad">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otrasCooperaciones.get('entidad').hasError('required') && otrasCooperaciones.get('entidad').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="acuerdos">Tiene acuerdos internacionales de
                        cooperación</mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <!-- <input matInput placeholder="País" type="text" formControlName="pais"> -->
                      <mat-label>Seleccione su País</mat-label>
                      <mat-select formControlName="pais" >
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option *ngFor="let pais of paises" [value]="pais?.PAIS_CODIGO_DIAN">
                          {{ pais?.PAIS_NOMBRE }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="otrasCooperaciones.get('pais').hasError('required') && otrasCooperaciones.get('pais').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Acuerdos internacionales de cooperación</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Acuerdo" type="text" formControlName="acuerdo">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otrasCooperaciones.get('acuerdo').hasError('required') && otrasCooperaciones.get('acuerdo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Objetivos de los acuerdos internacionales de cooperación</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Objetivo" type="text" formControlName="objetivo">
                    </mat-form-field>
                    <mat-error
                      *ngIf="otrasCooperaciones.get('objetivo').hasError('required') && otrasCooperaciones.get('objetivo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>