<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
          <div class="col-sm-12 col-md-12 col-lg-4">
              <ul>
                  <li class="mt-2">
                    <a routerLink="/basica">
                      <button mat-flat-button class="bg-coop text-white">
                        Ficha socioeconómica de la organización
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/economica">
                      <button mat-flat-button class=" bg-coop text-white">
                        Economica
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/educacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Educación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunicado">
                      <button mat-flat-button class="bg-coop text-white">
                        Comunicación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/cooperacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Cooperación
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otracooperacion">
                      <button mat-flat-button class="bg-coop text-white">
                        Otras Cooperaciones
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/comunidad">
                      <button mat-flat-button class="bg-coop text-white">
                        Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otrascomunidad">
                      <button mat-flat-button class="bg-coop text-white">
                        Otras Comunidad
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/otros">
                      <button mat-flat-button disabled>
                        Otros
                      </button>
                    </a>
                  </li>
                  <li class="mt-2">
                    <a routerLink="/cooperativa/evaluaciones">
                      <button mat-flat-button disabled>
                        Evaluación
                      </button>
                    </a>
                  </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8">
            <app-fijo-info></app-fijo-info>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="comunidadOtra">
            <mat-card class="example-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Compromiso con el ambiente</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="adelanta">Adelanta programas dirigidos a la
                        comunidad</mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Características de los programas ambientales hacia la comunidad"
                        type="text" formControlName="caracteristica">
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('caracteristica').hasError('required') && comunidadOtra.get('caracteristica').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h6>Programas ambientales dirigidos a la comunidad durante el año</h6>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Monto invertido" type="text" formControlName="monto">
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('monto').hasError('required') && comunidadOtra.get('monto').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="No. Beneficiarios" type="text" formControlName="beneficiarios">
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('beneficiarios').hasError('required') && comunidadOtra.get('beneficiarios').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <!-- <input matInput placeholder="Municipio" type="text" formControlName="municipio"> -->
                      <mat-label>Seleccione su Municipio</mat-label>
                      <mat-select formControlName="municipio">
                        <mat-option *ngFor="let departamento of departamentos" [value]="departamento?.idDepartamentos">
                          {{ departamento?.Departamento }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('municipio').hasError('required') && comunidadOtra.get('municipio').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Impacto de los programas ambientales sobre la comunidad" type="text"
                        formControlName="impacto">
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('impacto').hasError('required') && comunidadOtra.get('impacto').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Compromiso con el desarrollo</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="realizaProg">Realiza programas de dllo
                        economico dirigidos a la comunidad</mat-checkbox>
                    </section>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput
                        placeholder="Características de los programas de ello económico hacia la comunidad" type="text"
                        formControlName="progCulturales">
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('progCulturales').hasError('required') && comunidadOtra.get('progCulturales').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-2 mb-2">
                    <h5>Programas de dllo económico dirigidos a la comunidad durante el año</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Monto invertido" type="text" formControlName="montoInvertido">
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('montoInvertido').hasError('required') && comunidadOtra.get('montoInvertido').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="No. Beneficiarios" type="text" formControlName="beneficiosCultura">
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('beneficiosCultura').hasError('required') && comunidadOtra.get('beneficiosCultura').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                    <mat-form-field class="example-full-width">
                      <!-- <input matInput placeholder="Municipio" type="text" formControlName="municipiosCultura"> -->
                      <mat-label>Seleccione su Municipio</mat-label>
                      <mat-select formControlName="municipiosCultura">
                        <mat-option *ngFor="let departamento of departamentos" [value]="departamento?.idDepartamentos">
                          {{ departamento?.Departamento }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('municipiosCultura').hasError('required') && comunidadOtra.get('municipiosCultura').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Impacto de los programas ello económico sobre la comunidad"
                        type="text" formControlName="impactoCultural">
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('impactoCultural').hasError('required') && comunidadOtra.get('impactoCultural').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <section class="example-section">
                      <mat-checkbox class="example-margin" formControlName="participa">
                        Participa/incide en programas/proyectos de ello comunitario
                      </mat-checkbox>
                    </section>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Valor aportes a politicas/programas/proyectos de ello comunitario"
                        type="number" formControlName="valor">
                    </mat-form-field>
                    <mat-error
                      *ngIf="comunidadOtra.get('valor').hasError('required') && comunidadOtra.get('valor').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>

              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>