<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <ul>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">
                  Datos del Asociado
                </button>
              </a>
            </li>
            <li class="mt-2" *ngIf="viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona natural</button>
              </a>
            </li>
            <li class="mt-2" *ngIf="!viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona Jurídica</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Ubicación</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Beneficiarios</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Persona Contacto</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Datos del Asociado</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Financiero</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Educación</button>
              </a>
            </li>
          </ul>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h3>Ficha socioeconómica del asociado</h3>
          </div>
        </div>
        <app-card-info-asociado></app-card-info-asociado>
        <div class="col-sm-12 col-md-12 col-lg-8" *ngIf="verResumen">
          
          
          <mat-accordion>
            <mat-expansion-panel>
                <mat-card class="example-card mt-2" *ngFor="let almacen of almacenBeneficiarios; let i = index">
                    <mat-card-content>
                      <a (click)="deleteBeneficiario(i)">
                        <mat-icon>delete</mat-icon>
                      </a>
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <p>
                            <b>Tipo documento: </b>
                            <span>{{ almacen.tipoDocumento }}</span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <p>
                            <b>Numero documento: </b>
                            <span>{{ almacen.numeroDocumento }}</span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <p>
                            <b>Fecha nacimiento: </b>
                            <span>{{ almacen.fechaNacimiento | date }}</span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <p>
                            <b>Genero: </b>
                            <span>{{ almacen.genero }}</span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <p>
                            <b>Rel. nucleo: </b>
                            <span>{{ almacen.relNucleo }}</span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <p>
                            <b>Nivel educativo: </b>
                            <span>{{ almacen.nivelEducativo }}</span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <p>
                            <b>Seguridad social: </b>
                            <span>{{ almacen.seguridadSocial }}</span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <p>
                            <b>Fecha de retiro: </b>
                            <span>{{ almacen.fechaRetiro | date }}</span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <p>
                            <b>Causal retiro: </b>
                            <span>{{ almacen.causalRetiro }}</span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <p>
                            <b>Cual: </b>
                            <span>{{ almacen.cualOtra }}</span>
                          </p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                          <p>
                            <b>Nombre: </b> 
                            <span>{{ almacen.primerNombre }} {{ almacen.segundoNombre }} {{ almacen.primerApellido }} {{ almacen.segundoApellido }}</span>
                          </p>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
          
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="beneficiarios" class="mt-1" *ngIf="!searchData">
            <mat-card class="example-card" *ngIf="!verResumen">
              <mat-card-content>
                <div class="row" *ngIf="!searchData">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="closeEdit()">
                      <mat-icon class="text-danger cursor">close</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <!-- <mat-divider></mat-divider> -->
                  <div class="col-sm-12 mt-2">
                    <h5>Datos Beneficiarios.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de documento</mat-label>
                      <mat-select formControlName="tipoDocumento">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('tipoDocumento').hasError('required') && beneficiarios.get('tipoDocumento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number" formControlName="numeroDocumento">
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('numeroDocumento').hasError('required') && beneficiarios.get('numeroDocumento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primer nombre" type="text" formControlName="primerNombre">
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('primerNombre').hasError('required') && beneficiarios.get('primerNombre').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Segundo nombre" type="text" formControlName="segundoNombre">
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('segundoNombre').hasError('required') && beneficiarios.get('segundoNombre').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primer Apellido" type="text" formControlName="primerApellido">
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('primerApellido').hasError('required') && beneficiarios.get('primerApellido').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Segundo Apellido" type="text" formControlName="segundoApellido">
                    </mat-form-field>
                    <!-- <mat-error
                      *ngIf="beneficiarios.get('segundoApellido').hasError('required') && beneficiarios.get('segundoApellido').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento"
                        formControlName="fechaNacimiento">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('fechaNacimiento').hasError('required') && beneficiarios.get('fechaNacimiento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su genero</mat-label>
                      <mat-select formControlName="genero">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Masculino</mat-option>
                        <mat-option value="2">Femenino</mat-option>
                        <mat-option value="3">Otro</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('genero').hasError('required') && beneficiarios.get('genero').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su Rel. Nucleo</mat-label>
                      <mat-select formControlName="relNucleo">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Padre</mat-option>
                        <mat-option value="2">Madre</mat-option>
                        <mat-option value="3">Abuelo-a</mat-option>
                        <mat-option value="4">Nieto-a</mat-option>
                        <mat-option value="5">Sobrino-a</mat-option>
                        <mat-option value="6">Hijo-a</mat-option>
                        <mat-option value="7">Cónyuge</mat-option>
                        <mat-option value="8">Compañero-a permanente</mat-option>
                        <mat-option value="9">Hijastro-a</mat-option>
                        <mat-option value="10">Nuera</mat-option>
                        <mat-option value="11">Yerno</mat-option>
                        <mat-option value="12">Hermano-a</mat-option>
                        <mat-option value="13">Cuñado-a</mat-option>
                        <mat-option value="14">Bisabuelo-a</mat-option>
                        <mat-option value="15">Bisnieto-a</mat-option>
                        <mat-option value="16">Tío-a</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('relNucleo').hasError('required') && beneficiarios.get('relNucleo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su Nivel educativo</mat-label>
                      <mat-select formControlName="nivelEducativo">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Primaria</mat-option>
                        <mat-option value="2">Secundaria</mat-option>
                        <mat-option value="3">Técnico</mat-option>
                        <mat-option value="4">Tecnólogo</mat-option>
                        <mat-option value="5">Universitario</mat-option>
                        <mat-option value="6">Postgrado</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('nivelEducativo').hasError('required') && beneficiarios.get('nivelEducativo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su seguridad social</mat-label>
                      <mat-select formControlName="seguridadSocial">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Cotizante</mat-option>
                        <mat-option value="2">Beneficiario</mat-option>
                        <mat-option value="3">SISBEN</mat-option>
                        <mat-option value="4">Sin afiliación al sistema</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('seguridadSocial').hasError('required') && beneficiarios.get('seguridadSocial').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="pickers" placeholder="Fecha de retiro"
                        formControlName="fechaRetiro">
                      <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                      <mat-datepicker #pickers></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('fechaRetiro').hasError('required') && beneficiarios.get('fechaRetiro').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su Causal de retino</mat-label>
                      <mat-select formControlName="causalRetiro">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Retiro voluntario</mat-option>
                        <mat-option value="2">Fallecimiento</mat-option>
                        <mat-option value="3">Otras causas</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="beneficiarios.get('causalRetiro').hasError('required') && beneficiarios.get('causalRetiro').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Otra Cuál?" type="text" formControlName="cualOtra">
                    </mat-form-field>
                    <!-- <mat-error
                      *ngIf="beneficiarios.get('cualOtra').hasError('required') && beneficiarios.get('cualOtra').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error> -->
                  </div>
                </div>

              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-8">
                    <a mat-flat-button class="bg-coop text-white" (click)="addBeneficiario()">
                      Agregar un registro
                    </a>
                  </div>
                
                  
                </div>
              </div>
            </mat-card>
            <div class="row" *ngIf="verResumen">
              <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-8 mt-2">
                <button mat-fab color="primary" (click)="mostrarFormulario()">
                  <mat-icon>
                    add
                  </mat-icon>
                </button>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-8 mt-2" *ngIf="verResumen">
              <button mat-flat-button class="bg-coop text-white" type="submit" >
                Registrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>