<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <ul>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">
                  Datos del Asociado
                </button>
              </a>
            </li>
            <li class="mt-2" *ngIf="viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona natural</button>
              </a>
            </li>
            <li class="mt-2" *ngIf="!viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona Jurídica</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Ubicación</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Beneficiarios</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Persona Contacto</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Datos del Asociado</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Financiero</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Educación</button>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="row">
            <div class="col-sm-12">
              <h3>Ficha socioeconómica del asociado</h3>
            </div>
          </div>
          <app-card-info-asociado *ngIf="searchData"></app-card-info-asociado>
          <mat-card class="mt-1" *ngIf="!searchData">
            <mat-card-content>
              <div class="row">
                <div class="col-sm-1 offset-sm-11">
                  <a (click)="editForm()">
                    <mat-icon class="text-primary cursor">border_color</mat-icon>
                  </a>
                </div>
              </div>
              <div class="row" *ngFor="let informe of informacion; let i = index">
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Razon social: </b>
                    <span>{{ informe?.RazonSocial }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Fecha de afiliación: </b>
                    <span>{{ informe?.FechaAfiliacion | date }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Tipo de derecho</b>
                    <span *ngIf="informe?.TipoDerecho_idTipoDerecho === 1">Privado</span>
                    <span *ngIf="informe?.TipoDerecho_idTipoDerecho === 2">Público</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Tipo actividad: </b>
                    <span *ngIf="informe?.Actividad_idActividad === 5">Sector primario</span>
                    <span *ngIf="informe?.Actividad_idActividad === 6">Sector secundario</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Valor base: </b>
                    <span>{{ informe?.ValorBase }}</span>
                  </p>
                </div>
              </div>
              <div class="row" *ngFor="let repre of representante; let i = index">
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Nombres completos: </b>
                    <span>
                      {{ repre?.PrimerNombre }} {{ repre?.SegundoNombre }}
                      {{ repre?.PrimerApellido }} {{ repre?.SegundoApellido }}
                    </span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Tipo de documento: </b>
                    <span *ngIf="repre?.Tipocodumento_idTipocodumento === '1'">Cedula de ciudadania</span>
                    <span *ngIf="repre?.Tipocodumento_idTipocodumento === '2'">Cedula de extranjeria</span>
                    <span *ngIf="repre?.Tipocodumento_idTipocodumento === '3'">Tarjeta de identidad</span>
                    <span *ngIf="repre?.Tipocodumento_idTipocodumento === '4'">Registro civil</span>
                    <span *ngIf="repre?.Tipocodumento_idTipocodumento === '5'">NIT</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Numero documento: </b>
                    <span>{{ repre?.idRepresentanteLegal }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Numero de teléfono: </b>
                    <span>{{ repre?.Telefono }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Numero de celular: </b>
                    <span>{{ repre?.Celular }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p>
                    <b>Correo electronico: </b>
                    <span>{{ repre?.Correo }}</span>
                  </p>
                </div>
              </div>
            </mat-card-content>
            <mat-card-content *ngIf="!viewEdit">
              <div class="row">
                <div class="col-sm-2 offset-sm-10">
                  <a routerLink="/ubicacion">
                    <button mat-raised-button class="bg-coop text-white">
                      Continuar
                    </button>
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="juridica" *ngIf="viewEdit">
            <mat-card class="example-card mt-1">
              <mat-card-content>
                <div class="row" *ngIf="!searchData" >
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="closeEdit()">
                      <mat-icon class="text-danger cursor">close</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 mt-2">
                    <h5>Datos básicos.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Razón Social" type="text" formControlName="razonSocial">
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('razonSocial').hasError('required') && juridica.get('razonSocial').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="picker" placeholder="Fecha de afiliación"
                        formControlName="fechaAfiliación">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('fechaAfiliación').hasError('required') && juridica.get('fechaAfiliación').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de derecho</mat-label>
                      <mat-select formControlName="tipoDerecho">
                        <mat-option value="1">Privado</mat-option>
                        <mat-option value="2">Publico</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('tipoDerecho').hasError('required') && juridica.get('tipoDerecho').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2">
                    <h5>Reporte economico.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su actividad</mat-label>
                      <mat-select formControlName="actividad">
                        <mat-option value="5">Sector primario</mat-option>
                        <mat-option value="6">Sector secundario</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('actividad').hasError('required') && juridica.get('actividad').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Valor base" type="number" formControlName="valorBase">
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('valorBase').hasError('required') && juridica.get('valorBase').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-sm-12 mt-2">
                    <h5>Representante Legal.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primer Nombre" type="text" formControlName="primerNombre">
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('primerNombre').hasError('required') && juridica.get('primerNombre').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Segundo nombre" type="text" formControlName="segundoNombre">
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('segundoNombre').hasError('required') && juridica.get('segundoNombre').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primer Apellido" type="text" formControlName="primerApellido">
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('primerApellido').hasError('required') && juridica.get('primerApellido').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Segundo Apellido" type="text" formControlName="segundoApellido">
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('segundoApellido').hasError('required') && juridica.get('segundoApellido').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de documento</mat-label>
                      <mat-select formControlName="tipoDocumento">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('tipoDocumento').hasError('required') && juridica.get('tipoDocumento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero documento" type="number" formControlName="numeroDocumento">
                    </mat-form-field>
                    <mat-error
                      *ngIf="juridica.get('numeroDocumento').hasError('required') && juridica.get('numeroDocumento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de teléfono" type="tel" formControlName="telefono">
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero celular" type="number" formControlName="celular">
                    </mat-form-field>
                    <mat-error *ngIf="juridica.get('celular').hasError('required') && juridica.get('celular').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Correo electronico" type="email" formControlName="correo">
                    </mat-form-field>
                    <mat-error *ngIf="juridica.get('correo').hasError('required') && juridica.get('correo').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="juridica.get('correo').hasError('email') && juridica.get('correo').touched">
                      No es un correo <strong>valido</strong>
                    </mat-error>
                  </div>
                </div>
              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>