<mat-toolbar class="bg-coop">
  <mat-toolbar-row>
    <span class="text-white">COOPE<span class="text-fuac">FUAC</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="row">
    <div class="container">
      <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <ul>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">
                  Datos del Asociado
                </button>
              </a>
            </li>
            <li class="mt-2" *ngIf="viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona natural</button>
              </a>
            </li>
            <li class="mt-2" *ngIf="!viewSpecial">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona Jurídica</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Ubicación</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Beneficiarios</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button class="bg-coop text-white">Persona Contacto</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Datos del Asociado</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Financiero</button>
              </a>
            </li>
            <li class="mt-2">
              <a>
                <button mat-flat-button disabled>Educación</button>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <app-card-info-asociado *ngIf="searchData"></app-card-info-asociado>
          <mat-card class="mt-1" *ngIf="!searchData">
            <mat-card-content *ngFor="let info of informacion; let i = index">
              <div class="row">
                <div class="col-sm-1 offset-sm-11">
                  <a (click)="editForm()">
                    <mat-icon class="text-primary cursor">border_color</mat-icon>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-6">
                  <p><b>Nombre completo: </b> <span>
                      {{  info?.PrimerNombre }} {{  info?.SegundoNombre }}
                      {{  info?.PrimerApellido }} {{  info?.SegundoApellido }}
                    </span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Tipo de documento: </b>
                    <span *ngIf="info?.Tipocodumento_idTipocodumento === 1">Cedula de ciudadania</span>
                    <span *ngIf="info?.Tipocodumento_idTipocodumento === 2">Cedula de extranjeria</span>
                    <span *ngIf="info?.Tipocodumento_idTipocodumento === 3">Tarjeta de identidad</span>
                    <span *ngIf="info?.Tipocodumento_idTipocodumento === 4">Registro civil</span>
                    <span *ngIf="info?.Tipocodumento_idTipocodumento === 5">NIT</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Numero de documento: </b> <span>{{  info?.idContacto }}</span></p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>País: </b>
                    <span *ngIf="info?.Pais_idPais === '169'">Colombia</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Departamento: </b>
                    <span>{{ info?.Departamento_idDepartamento }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Ciudad: </b>
                    <span>{{ info?.Ciudad_idCiudad }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Seguridad social: </b>
                    <span *ngIf="info?.Area_idArea === 1">Urbano</span>
                    <span *ngIf="info?.Area_idArea === 2">Rural</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Barrio: </b>
                    <span>{{ info?.Barrio }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Dirección: </b>
                    <span>{{ info?.Direccion }}</span>
                  </p>
                </div>
                <div class="col-sm-12 col-lg-6">
                  <p><b>Teléfono: </b>
                    <span>{{ info?.Telefono }}</span>
                  </p>
                </div>

              </div>
            </mat-card-content>
            <mat-card-content *ngIf="!viewEdit">
              <div class="row">
                <div class="col-sm-2 offset-sm-10">
                  <a routerLink="/asociado">
                    <button mat-raised-button class="bg-coop text-white">
                      Continuar
                    </button>
                  </a>
                </div>
              </div>
            </mat-card-content>
          </mat-card>


          <div class="row">
            <div class="col-sm-12">
              <h3>Ficha socioeconómica del asociado</h3>
            </div>
          </div>

          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="contacto" *ngIf="viewEdit">
            <mat-card class="example-card mt-1">
              <mat-card-content>
                <div class="row" *ngIf="!searchData">
                  <div class="col-sm-1 offset-sm-11">
                    <a (click)="closeEdit()">
                      <mat-icon class="text-danger cursor">close</mat-icon>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <!-- <mat-divider></mat-divider> -->
                  <div class="col-sm-12 mt-2">
                    <h5>Datos persona contacto.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su tipo de documento</mat-label>
                      <mat-select formControlName="tipoDocumento">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Cedula de Ciudadania</mat-option>
                        <mat-option value="2">Cedula de extranjeria</mat-option>
                        <mat-option value="3">Tarjeta de identidad</mat-option>
                        <mat-option value="4">Registro civil</mat-option>
                        <mat-option value="5">NIT</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="contacto.get('tipoDocumento').hasError('required') && contacto.get('tipoDocumento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Numero de documento" type="number" formControlName="numeroDocumento">
                    </mat-form-field>
                    <mat-error
                      *ngIf="contacto.get('numeroDocumento').hasError('required') && contacto.get('numeroDocumento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primer nombre" type="text" formControlName="primerNombre">
                    </mat-form-field>
                    <mat-error
                      *ngIf="contacto.get('primerNombre').hasError('required') && contacto.get('primerNombre').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Segundo nombre" type="text" formControlName="segundoNombre">
                    </mat-form-field>
                    <!-- <mat-error
                      *ngIf="contacto.get('segundoNombre').hasError('required') && contacto.get('segundoNombre').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error> -->
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Primer Apellido" type="text" formControlName="primerApellido">
                    </mat-form-field>
                    <mat-error
                      *ngIf="contacto.get('primerApellido').hasError('required') && contacto.get('primerApellido').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-3">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Segundo Apellido" type="text" formControlName="segundoApellido">
                    </mat-form-field>
                    <!-- <mat-error
                            *ngIf="beneficiarios.get('segundoApellido').hasError('required') && beneficiarios.get('segundoApellido').touched">
                            Este campo es <strong>requerido</strong>
                          </mat-error> -->
                  </div>
                </div>
                <div class="row">
                  <mat-divider></mat-divider>
                  <div class="col-sm-12 mt-2">
                    <h5>Localización contacto.</h5>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su País</mat-label>
                      <mat-select formControlName="pais" (focus)="ifColombia()">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option *ngFor="let pais of paises" [value]="pais?.PAIS_CODIGO_DIAN">
                          {{ pais?.PAIS_NOMBRE }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="contacto.get('pais').hasError('required') && contacto.get('pais').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="verMunicipio">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su departamento</mat-label>
                      <mat-select formControlName="departamento" (focus)="departamentoCiudad()">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option *ngFor="let departamento of departamentos" [value]="departamento?.idDepartamentos">
                          {{ departamento?.Departamento }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error
                      *ngIf="contacto.get('departamento').hasError('required') && contacto.get('departamento').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="verCiudad">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su Ciudad</mat-label>
                      <mat-select formControlName="ciudad">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad?.idMunicipio">
                          {{ ciudad?.Municipio }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="contacto.get('ciudad').hasError('required') && contacto.get('ciudad').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Seleccione su área</mat-label>
                      <mat-select formControlName="area">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option value="1">Urbano</mat-option>
                        <mat-option value="2">Rural</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="contacto.get('area').hasError('required') && contacto.get('area').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Barrio" type="text" formControlName="barrio">
                    </mat-form-field>
                    <mat-error *ngIf="contacto.get('barrio').hasError('required') && contacto.get('barrio').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Dirección" type="text" formControlName="direccion">
                    </mat-form-field>
                    <mat-error
                      *ngIf="contacto.get('direccion').hasError('required') && contacto.get('direccion').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Teléfono" type="tel" formControlName="telefono">
                    </mat-form-field>
                    <!-- <mat-error
                                    *ngIf="beneficiarios.get('segundoApellido').hasError('required') && beneficiarios.get('segundoApellido').touched">
                                    Este campo es <strong>requerido</strong>
                                  </mat-error> -->
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Celular" type="tel" formControlName="celular">
                    </mat-form-field>
                    <mat-error *ngIf="contacto.get('celular').hasError('required') && contacto.get('celular').touched">
                      Este campo es <strong>requerido</strong>
                    </mat-error>
                  </div>
                </div>

              </mat-card-content>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-2 offset-lg-10">
                    <button mat-flat-button class="bg-coop text-white" type="submit">
                      Registrar
                    </button>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50 mt-5">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>